Repository coral-xyz/backpack, pull requests merged in 2022-11, with the labels that each got.

#1370 fix scaling bug when decimal difference is negative
  packages/app-extension/src/components/Unlocked/Swap.tsx
Labels: extension

#1372 Update useIsONELive.ts
  packages/app-extension/src/hooks/useIsONELive.ts
Labels: extension

#1376 handle approvals with disabled blockchains
  packages/app-extension/src/app/Router.tsx
  packages/background/src/frontend/server-injected.ts
  packages/common/src/browser/extension.ts
Labels: extension

#1392 styling fixes for ramp buy table and misc cleanup
  packages/app-extension/src/components/Unlocked/Balances/Balances.tsx
  packages/app-extension/src/components/Unlocked/Balances/StripeRamp.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Ramp.tsx
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
Labels: extension

#1391 navigate to root on send or burn nft and confirmation drawer closes
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Ethereum/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Solana/index.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
Labels: extension

#1389 claim username copy changes
  backend/workers/auth/src/index.ts
  packages/app-extension/src/components/Onboarding/pages/UsernameForm.tsx
Labels: extension, backend

#1399 add developer mode and only display simulator when it is enabled
  packages/app-extension/src/components/Unlocked/Apps/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/index.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/preferences.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/src/constants.ts
  packages/recoil/src/atoms/preferences/index.tsx
  packages/recoil/src/atoms/solana/xnft.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/preferences/index.tsx
Labels: extension

#1401 fix burning with multiple token amounts
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/common/src/solana/index.ts
Labels: extension

#1404 add missing dependencies to arrays
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
Labels: extension

#1405 fix undefined nft name crash
  packages/app-extension/src/components/Unlocked/Nfts/Collection.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/recoil/src/hooks/navigation.tsx
Labels: extension

#1407 remove back button from onboarding success
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
Labels: extension

#1412 make enter to submit work on auto-lock form
  packages/app-extension/src/components/Unlocked/Settings/Preferences/AutoLock.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RenameWallet.tsx
Labels: extension

#1415 Fix useIsONELive.ts
  packages/app-extension/src/hooks/useIsONELive.ts
Labels: extension

#1417 hide ONE entrypoint when solana blockchain disabled.
  packages/app-extension/src/hooks/useIsONELive.ts
Labels: extension

#1418 make enter to submit work on import private key
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RenameWallet.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/common/Inputs.tsx
Labels: extension

#1400 remove solanauth worker
  backend/workers/solanauth/package.json
  backend/workers/solanauth/src/index.ts
  backend/workers/solanauth/src/regex.ts
  backend/workers/solanauth/tsconfig.json
  backend/workers/solanauth/wrangler.toml
Labels: backend

#1445 make menu items consistently title cased
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Blockchains.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/index.tsx
  packages/app-extension/src/components/Unlocked/Swap.tsx
Labels: extension

#1413 Create waolist_tokens table with one_xnft role
  backend/reef/hasura/metadata/databases/default/tables/auth_waolist_tokens.yaml
  backend/reef/hasura/metadata/databases/default/tables/tables.yaml
  backend/reef/hasura/migrations/default/1667416171278_create_table_auth_waolist_tokens/down.sql
  backend/reef/hasura/migrations/default/1667416171278_create_table_auth_waolist_tokens/up.sql
Labels: backend

#1454 add rpc proxy worker
  backend/workers/rpc-proxy/package.json
  backend/workers/rpc-proxy/src/index.ts
  backend/workers/rpc-proxy/tsconfig.json
  backend/workers/rpc-proxy/wrangler.toml
Labels: backend

#1455 skeleton for apps
  packages/app-extension/src/components/Unlocked/Apps/index.tsx
  packages/recoil/src/atoms/solana/xnft.tsx
Labels: extension

#1457 change default solana rpc
  backend/workers/rpc-proxy/src/index.ts
  packages/background/src/backend/core.ts
  packages/common/src/solana/cluster.ts
Labels: backend

#1458 mobile app house cleaning from main PR
  eas.json
  package.json
  packages/app-mobile/.nvmrc
  packages/app-mobile/eas.json
  packages/app-mobile/metro.config.js
  packages/app-mobile/src/screens/Helpers/ToggleConnection.tsx
  packages/app-mobile/yarn.lock
  turbo.json
Labels: mobile

#1463 reset copy updates
  packages/app-extension/src/components/Locked/LockedMenu.tsx
  packages/app-extension/src/components/Locked/Reset/ResetWarning.tsx
  packages/app-extension/src/components/Locked/Reset/ResetWelcome.tsx
  packages/app-extension/src/components/common/Icon/index.tsx
Labels: extension

#1467 add --version to xnft-cli
  packages/xnft-cli/index.js
Labels: xnft

#1469 expo final monorepo changes
  package.json
  packages/app-mobile/metro.config.js
  packages/app-mobile/package.json
  patches/expo+45.0.6.patch
  yarn.lock
Labels: mobile

#1479 initial mobile app updates
  packages/app-mobile/app.config.js
  packages/app-mobile/index.js
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/AppRPCCallTesting.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/MnemonicInputFields.tsx
  packages/app-mobile/src/components/ResetAppButton.tsx
  packages/app-mobile/src/components/Unlocked/Balances/Balances.tsx
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/components/Unlocked/Nfts/Common.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/components/package.json
  packages/app-mobile/src/hooks/index.ts
  packages/app-mobile/src/hooks/package.json
  packages/app-mobile/src/hooks/useLoadedAssets.tsx
  packages/app-mobile/src/hooks/useTheme.tsx
  packages/app-mobile/src/lib/OnboardingProvider.tsx
  packages/app-mobile/src/lib/useRequest.ts
  packages/app-mobile/src/lib/validateSecretKey.ts
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/navigation/index.tsx
  packages/app-mobile/src/screens/Helpers/RandomBackgroundScreen.tsx
  packages/app-mobile/src/screens/NeedsOnboarding/index.tsx
  packages/app-mobile/src/screens/NotFoundScreen.tsx
  packages/app-mobile/src/screens/Unlocked/AppListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/package.json
  packages/app-mobile/tsconfig.json
  yarn.lock
Labels: mobile

#1482 disable tests in `app-mobile` package
  packages/app-mobile/package.json
Labels: mobile

#1480 expo 47 + react 18 in the mobile app
  package.json
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  patches/expo+47.0.3.patch
  yarn.lock
Labels: mobile

#1494 fix nan bugs
  packages/app-extension/src/components/Unlocked/Balances/Balances.tsx
  packages/common-public/src/utils.ts
Labels: extension

#1492 Revert "expo 47 + react 18 in the mobile app (#1480)"
  package.json
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  patches/expo+45.0.6.patch
  yarn.lock
Labels: mobile

#1504 fix onboarded waiting room
  packages/app-extension/src/components/common/WaitingRoom.tsx
Labels: extension

#1491 show error from auth worker in username form
  backend/workers/auth/src/index.ts
  packages/app-extension/src/components/Onboarding/pages/UsernameForm.tsx
Labels: extension, backend

#1509 fix react version mismatch
  backend/workers/avatars/package.json
  examples/clients/simple/package.json
  package.json
  packages/app-extension/package.json
  packages/app-mobile/package.json
  packages/react-xnft-dom-renderer/package.json
  web/package.json
  yarn.lock
Labels: extension, mobile, backend

#1501 re-introduce expo sdk 47 updates with react 18
  backend/workers/avatars/package.json
  examples/clients/simple/package.json
  package.json
  packages/app-extension/package.json
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/react-xnft-dom-renderer/package.json
  patches/expo+47.0.3.patch
  web/package.json
  yarn.lock
Labels: extension, mobile, backend

#1517 fix crash on nft burn
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/common/TokenAmountHeader.tsx
Labels: extension

#1526 expo/react-native patch
  package.json
  packages/app-mobile/package.json
  packages/app-mobile/patches/react-native+0.70.5.patch
Labels: mobile

#1528 eas updates
  packages/app-mobile/app.config.js
  packages/app-mobile/index.js
  packages/app-mobile/package.json
  yarn.lock
Labels: mobile

#1530 expo deploy previews
  .github/actions/setup-monorepo/action.yml
  .github/workflows/build-mobile-app.yml
  .github/workflows/preview-mobile-app.yml
  packages/app-mobile/app.config.js
  packages/app-mobile/eas.json
  yarn.lock
Labels: mobile

#1525 Clean up appIcons vs xnfts vs plugins
  examples/xnft/prices/package.json
  packages/app-extension/src/components/Unlocked/Apps/index.tsx
  packages/recoil/package.json
  packages/recoil/src/atoms/solana/xnft.tsx
  packages/recoil/src/hooks/solana/usePlugins.tsx
  yarn.lock
Labels: extension

#1532 more eslint changes
  packages/app-mobile/.eslintrc
  packages/app-mobile/.eslintrc.js
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/screens/Helpers/RandomBackgroundScreen.tsx
  packages/eslint-config-custom/index.js
  yarn.lock
Labels: mobile

#1544 Lock react-native versions to match app-mobile
  examples/xnft/native-example/package.json
  packages/react-xnft/package.json
  yarn.lock
Labels: xnft

#1548 Fix npm xnft cli
  packages/xnft-cli/package.json
Labels: xnft

#1549 add deprecated derivation path
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
  packages/background/package.json
  packages/background/src/backend/keyring/crypto.ts
  packages/common/src/crypto.ts
  yarn.lock
Labels: extension

#1551 paint balance screen / nft collectible screen
  packages/app-mobile/assets/anchor-development.png
  packages/app-mobile/assets/anchor-production.png
  packages/app-mobile/assets/blockchains/ethereum.png
  packages/app-mobile/assets/blockchains/solana.png
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/Images.ts
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/hooks/index.ts
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/app-mobile/src/screens/Unlocked/components/index.tsx
  packages/recoil/src/hooks/useBlockchain.tsx
  yarn.lock
Labels: extension, mobile

#1559 balance screen updates
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/app-mobile/src/screens/Unlocked/components/index.tsx
  yarn.lock
Labels: mobile

#1565 remove app extension readme
  packages/app-extension/README.md
Labels: extension

#1561 transfer widget flows
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/common/Layout/NavTabs.tsx
  packages/app-mobile/package.json
  packages/app-mobile/src/components/TokenInputField.tsx
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/DepositScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
Labels: extension, mobile

#1575 hide show secret recovery phrase menu item for ledger keyrings
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/index.tsx
Labels: extension

#1582 eslint + prettier caching & speed improvements
  .gitignore
  examples/xnft/network-monitor/package.json
  package.json
  packages/app-extension/package.json
  packages/app-mobile/package.json
  packages/background/package.json
  packages/blockchains/common/package.json
  packages/blockchains/evm/package.json
  packages/blockchains/keyring/package.json
  packages/blockchains/solana/package.json
  packages/common-public/.eslintrc.js
  packages/common-public/package.json
  packages/common-public/src/index.ts
  packages/common-public/src/logging.ts
  packages/common-public/src/utils.ts
  packages/common/package.json
  packages/eslint-config-custom/index.js
  packages/provider-core/package.json
  packages/react-xnft-dom-renderer/package.json
  packages/react-xnft/package.json
  packages/recoil/package.json
  packages/themes/package.json
  packages/wallet-standard/.eslintignore
  packages/wallet-standard/.eslintrc
  packages/wallet-standard/package.json
  yarn.lock
Labels: xnft, extension, mobile

#1590 typescript 4.9.3 (removes 4 diff versions of typescript)
  backend/native/zeus/package.json
  backend/workers/auth/package.json
  backend/workers/avatars/package.json
  backend/workers/feature-gates/package.json
  backend/workers/invites/package.json
  examples/clients/simple/package.json
  package.json
  packages/app-extension/package.json
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-mobile/package.json
  packages/background/package.json
  packages/blockchains/common/package.json
  packages/blockchains/evm/package.json
  packages/blockchains/keyring/package.json
  packages/blockchains/solana/package.json
  packages/chat-sdk/package.json
  packages/common-public/package.json
  packages/common/package.json
  packages/ledger-injection/package.json
  packages/provider-core/package.json
  packages/provider-injection/package.json
  packages/react-xnft/package.json
  packages/react-xnft/src/elements.tsx
  packages/recoil/package.json
  packages/themes/package.json
  packages/wallet-standard/package.json
  web/package.json
  yarn.lock
Labels: xnft, extension, mobile, backend

#1579 add JWT auth
  backend/workers/auth/package.json
  backend/workers/auth/src/index.ts
  backend/workers/auth/wrangler.toml
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Locked/index.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/scripts/config.sh
  packages/common/src/constants.ts
  yarn.lock
Labels: extension, backend

#1578 account settings modal
  .gitignore
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AccountSettingsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsList.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsRow.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/WalletList.tsx
  packages/app-mobile/tsconfig.json
  packages/common/src/channel/app-ui.ts
Labels: mobile

#1595 fix zeus typescript real quick
  backend/native/chat-zeus/package.json
  yarn.lock
Labels: backend

#1597 fix zeus import path in auth/onramp worker
  backend/workers/auth/src/onramp/db.ts
Labels: backend

#1602 fix delete public key bug for hardware only onboard
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/WalletDetail.tsx
  packages/blockchains/evm/src/keyring/index.ts
  packages/blockchains/keyring/src/blockchain.ts
  packages/blockchains/keyring/src/ledger.ts
  packages/blockchains/keyring/src/types.ts
  packages/blockchains/solana/src/keyring/index.ts
Labels: extension

#1610 nav header fixes
  packages/app-mobile/src/components/NavHeader.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
Labels: mobile

#1613 split up auth worker into files
  backend/workers/auth/src/index.ts
  backend/workers/auth/src/jwt.ts
  backend/workers/auth/src/util.ts
  backend/workers/auth/src/validation.ts
Labels: backend

#1614 remove legacy auth worker onboarding
  backend/workers/auth/src/index.ts
Labels: backend

#1618 add prettier to output of zeus
  backend/native/zeus/package.json
Labels: backend

#1617 remove zeus from auth worker
  backend/workers/auth/package.json
  backend/workers/auth/src/zeus/const.ts
  backend/workers/auth/src/zeus/index.ts
Labels: backend

#1624 add /me endpoint to auth worker
  backend/workers/auth/src/index.ts
Labels: backend

#1625 ensure jwt cookie remains after ending session
  backend/workers/auth/src/index.ts
  backend/workers/auth/src/jwt.ts
Labels: backend

#1627 Fix username recovery flow.
  backend/workers/auth/src/index.ts
Labels: backend

#1571 Add twitter_user table
  backend/reef/hasura/metadata/databases/default/tables/auth_twitter_users.yaml
  backend/reef/hasura/metadata/databases/default/tables/tables.yaml
  backend/reef/hasura/migrations/default/1669168542847_create_table_auth_twitter_users/down.sql
  backend/reef/hasura/migrations/default/1669168542847_create_table_auth_twitter_users/up.sql
  backend/reef/hasura/migrations/default/1669168636344_alter_table_auth_twitter_users_add_column_pfp_staked_since/down.sql
  backend/reef/hasura/migrations/default/1669168636344_alter_table_auth_twitter_users_add_column_pfp_staked_since/up.sql
  backend/reef/hasura/migrations/default/1669253778878_alter_table_auth_twitter_users_add_column_twitter_id/down.sql
  backend/reef/hasura/migrations/default/1669253778878_alter_table_auth_twitter_users_add_column_twitter_id/up.sql
  backend/reef/hasura/migrations/default/1669253792509_modify_primarykey_auth_twitter_users/down.sql
  backend/reef/hasura/migrations/default/1669253792509_modify_primarykey_auth_twitter_users/up.sql
  backend/reef/hasura/migrations/default/1669260058779_alter_table_auth_twitter_users_add_column_pfp_staked_hash/down.sql
  backend/reef/hasura/migrations/default/1669260058779_alter_table_auth_twitter_users_add_column_pfp_staked_hash/up.sql
  backend/reef/hasura/migrations/default/1669313540963_alter_table_auth_twitter_users_alter_column_pfp_staked_since/down.sql
  backend/reef/hasura/migrations/default/1669313540963_alter_table_auth_twitter_users_alter_column_pfp_staked_since/up.sql
  backend/reef/hasura/migrations/default/1669313813250_alter_table_auth_twitter_users_drop_column_pfp_staked_since/down.sql
  backend/reef/hasura/migrations/default/1669313813250_alter_table_auth_twitter_users_drop_column_pfp_staked_since/up.sql
  backend/reef/hasura/migrations/default/1669313828974_alter_table_auth_twitter_users_add_column_pfp_staked_since/down.sql
  backend/reef/hasura/migrations/default/1669313828974_alter_table_auth_twitter_users_add_column_pfp_staked_since/up.sql
Labels: backend

#1619 restructure publickeys table to allow many public keys for each blockchain
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/metadata/databases/default/tables/auth_public_keys.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  backend/reef/hasura/metadata/databases/default/tables/tables.yaml
  backend/reef/hasura/migrations/default/1669685174307_restructure_for_multiple_publickeys_for_each_blockchain/down.sql
  backend/reef/hasura/migrations/default/1669685174307_restructure_for_multiple_publickeys_for_each_blockchain/up.sql
  backend/workers/auth/src/index.ts
  packages/app-extension/src/components/Onboarding/pages/HardwareDefaultAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSearch.tsx
  packages/app-extension/src/components/Onboarding/pages/MnemonicSearch.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccountUsernameForm.tsx
Labels: extension, backend

#1637 update appstore role permissions
  backend/reef/hasura/metadata/databases/default/tables/auth_public_keys.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
Labels: backend

#1640 shrink assets
  packages/app-mobile/assets/anchor-development.png
  packages/app-mobile/assets/anchor-production.png
  packages/app-mobile/assets/favicon.png
  packages/app-mobile/assets/icon.png
  packages/app-mobile/assets/splash.png
Labels: mobile
