Repository coral-xyz/backpack, pull requests merged in 2022-12, with the labels that each got.

#1630 rpc proxy cors headers
  backend/workers/rpc-proxy/src/index.ts
Labels: backend

#1589 multi account (username) management
  packages/app-extension/src/components/Locked/index.tsx
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Unlocked/Messages/ChatScreen.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Experience.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/UsernamesMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/common/Layout/Drawer.tsx
  packages/app-extension/src/components/common/Layout/Nav.tsx
  packages/app-extension/src/components/common/WaitingRoom.tsx
  packages/app-extension/src/options/Options.tsx
  packages/app-extension/src/permissions/NotificationPermissions.tsx
  packages/app-extension/src/plugin/Renderer.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/index.ts
  packages/background/src/backend/store/keyname.ts
  packages/background/src/backend/store/preferences.ts
  packages/background/src/backend/store/usernames.ts
  packages/background/src/backend/store/xnft-preferences.ts
  packages/background/src/frontend/server-injected.ts
  packages/background/src/frontend/server-ui.ts
  packages/chat-sdk/src/components/ChatRoom.tsx
  packages/common/src/browser/extension.ts
  packages/common/src/constants.ts
  packages/recoil/src/atoms/balance.tsx
  packages/recoil/src/atoms/blockchain.tsx
  packages/recoil/src/atoms/ethereum/preferences.tsx
  packages/recoil/src/atoms/preferences/index.tsx
  packages/recoil/src/atoms/preferences/xnft-preferences.tsx
  packages/recoil/src/atoms/solana/preferences.tsx
  packages/recoil/src/atoms/wallet.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/avatar.tsx
  packages/recoil/src/hooks/bootstrap.tsx
  packages/recoil/src/hooks/preferences/index.tsx
  packages/themes/src/index.tsx
  yarn.lock
Labels: extension

#1654 add ts checker to build
  packages/app-extension/webpack.config.js
Labels: extension

#1661 add @coral-xyz/chat-sdk as dependency of @coral-xyz/app-extension
  packages/app-extension/package.json
Labels: extension

#1668 return uuid from auth api
  backend/native/backpack-api/src/routes/v1/users.ts
  backend/workers/auth/src/jwt.ts
Labels: backend

#1669 use uuid from backend
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
Labels: extension

#1671 recovery flow with uuids
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
Labels: extension

#1667 Fix "plugin not found"
  packages/app-extension/src/components/Unlocked/Apps/Plugin.tsx
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/Detail.tsx
  packages/app-extension/src/plugin/Renderer.tsx
  packages/common/src/plugin.ts
  packages/recoil/src/atoms/preferences/xnft-preferences.tsx
  packages/recoil/src/hooks/useXnftPreferences.tsx
Labels: extension

#1657 balances list detail navigation updates
  packages/app-mobile/src/components/ActionCard.tsx
  packages/app-mobile/src/components/TokenAmountHeader.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AddConnectWalletScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsMenuList.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/WalletList.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
Labels: mobile

#1655 Allow one_xnft role to read username from id
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
Labels: backend

#1699 Combine plugin drawers
  packages/app-extension/src/components/Unlocked/Apps/Plugin.tsx
  packages/app-extension/src/components/Unlocked/Apps/Simulator.tsx
  packages/app-extension/src/components/Unlocked/Apps/index.tsx
  packages/app-extension/src/components/Unlocked/DisplayPlugin.tsx
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/app-extension/src/components/common/Layout/NavTabs.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/plugin/Renderer.tsx
  packages/recoil/src/atoms/solana/xnft.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/context/Plugins.tsx
  packages/recoil/src/hooks/navigation.tsx
  packages/recoil/src/hooks/solana/usePlugins.tsx
Labels: extension

#1710 Create data & swr-data workers to fetch metaplex-nft images
  backend/workers/data/package.json
  backend/workers/data/src/index.ts
  backend/workers/data/tsconfig.json
  backend/workers/data/wrangler.toml
  backend/workers/swr-data-cache/package.json
  backend/workers/swr-data-cache/src/index.ts
  backend/workers/swr-data-cache/src/swr.ts
  backend/workers/swr-data-cache/tsconfig.json
  backend/workers/swr-data-cache/wrangler.toml
  yarn.lock
Labels: backend

#1727 Setup swr-data cache proxy for cf workers
  backend/workers/data/src/index.ts
  backend/workers/data/wrangler.toml
  backend/workers/swr-data-cache/src/index.ts
  backend/workers/swr-data-cache/src/swr.ts
  backend/workers/swr-data-cache/wrangler.toml
Labels: backend

#1729 onboarding updates
  packages/app-mobile/src/components/ActionCard.tsx
  packages/app-mobile/src/components/CheckBox.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/MnemonicInputFields.tsx
  packages/app-mobile/src/components/PasswordInput.tsx
  packages/app-mobile/src/components/ResetAppButton.tsx
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/lib/OnboardingProvider.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
Labels: mobile

#1711 refactor jwt setup to allow for ledger prompting and signing
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/v1/authenticate.ts
  backend/native/backpack-api/src/routes/v1/users.ts
  backend/native/xnft-api-server/src/db/users.ts
  backend/native/xnft-api-server/src/v1/users.ts
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareOnboard.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSearch.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSign.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Unlocked/Messages/ChatDrawer.tsx
  packages/app-extension/src/components/Unlocked/Messages/ChatScreen.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
  packages/app-extension/src/components/common/Layout/Nav.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/hooks/useAuthentication.tsx
  packages/app-extension/tsconfig.json
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/keyring.ts
  packages/background/src/frontend/server-ui.ts
  packages/blockchains/keyring/src/blockchain.ts
  packages/blockchains/keyring/src/types.ts
  packages/chat-sdk/src/components/Banner.tsx
  packages/chat-sdk/src/components/ChatContext.tsx
  packages/chat-sdk/src/components/ChatRoom.tsx
  packages/chat-sdk/src/components/EmptyChat.tsx
  packages/chat-sdk/src/components/FullScreenChat.tsx
  packages/common/src/constants.ts
  packages/recoil/src/atoms/blockchain.tsx
  packages/recoil/src/atoms/friendship.tsx
  packages/recoil/src/atoms/index.tsx
  packages/recoil/src/atoms/preferences/index.tsx
  packages/recoil/src/context/Plugins.tsx
  packages/recoil/src/hooks/index.tsx
  packages/recoil/src/hooks/useFriendship.tsx
Labels: extension, mobile, backend

#1734 persist username account create with unlock
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/background/src/backend/keyring/index.ts
Labels: extension

#1740 issue jwt as part of onboarding/recovery flow
  backend/native/backpack-api/src/routes/v1/users.ts
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareOnboard.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Blockchains.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/common/src/index.ts
  packages/common/src/types.ts
Labels: extension, backend

#1750 mark react as external for backpack-api
  backend/native/backpack-api/package.json
Labels: backend

#1730 username not found
  packages/app-mobile/index.js
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/CheckBox.tsx
  packages/app-mobile/src/components/MnemonicInputFields.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/index.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AccountSettingsScreen.tsx
  packages/background/src/backend/store/usernames.ts
  yarn.lock
Labels: mobile

#1757 add methods to add/remove public keys from users
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/routes/v1/users.ts
  backend/native/backpack-api/src/validation/user.ts
Labels: backend

#1762 add a better error to public key constraint violation
  backend/native/backpack-api/src/routes/v1/users.ts
Labels: backend

#1768 updates
  packages/app-mobile/index.js
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/app-mobile/src/screens/Unlocked/components/index.tsx
Labels: mobile

#1771 balances adjustments / fixes wip
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/DepositScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/app-mobile/src/screens/Unlocked/components/index.tsx
Labels: mobile

#1780 fix race condition in WithAuth and rename variables for clarity
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
Labels: extension

#1783 fix bug that opened two onboarding pages
  packages/app-extension/src/app/Router.tsx
Labels: extension

#1786 Revert accidental backend api changes #1785
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/routes/v1/users.ts
Labels: backend

#1781 add jwt storage for users
  backend/native/backpack-api/src/auth/middleware.ts
  backend/native/backpack-api/src/auth/util.ts
  backend/native/backpack-api/src/routes/v1/authenticate.ts
  backend/native/backpack-api/src/routes/v1/users.ts
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/hooks/useAuthentication.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/usernames.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/src/constants.ts
  packages/recoil/src/atoms/preferences/index.tsx
Labels: extension, backend

#1792 use standard authorization header
  backend/native/backpack-api/src/auth/middleware.ts
  packages/app-extension/src/hooks/useAuthentication.tsx
Labels: extension, backend

#1766 username logout part 1
  packages/app-extension/src/components/Locked/Reset/ResetWarning.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/preferences.ts
  packages/background/src/backend/store/usernames.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/src/constants.ts
  packages/recoil/src/atoms/preferences/index.tsx
  packages/recoil/src/context/Notifications.tsx
Labels: extension

#1799 fix show secret phrase on keyring type change
  backend/native/backpack-api/src/routes/v1/users.ts
  packages/recoil/src/atoms/keyring.tsx
Labels: backend

#1808 fixes to balances with working data
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
Labels: mobile

#1816 Avatar endpoint format change
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/routes/v1/users.ts
Labels: backend

#1802 update username associations everytime a pubkey is created or deleted
  backend/native/backpack-api/src/routes/v1/users.ts
  backend/native/backpack-api/src/validation/user.ts
  packages/app-extension/src/components/Locked/Reset/ResetWarning.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareDefaultAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareOnboard.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSearch.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccountUsernameForm.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Blockchains.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RemoveWallet.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/hooks/useAuthentication.tsx
  packages/app-extension/src/options/Options.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/frontend/server-ui.ts
  packages/blockchains/keyring/src/blockchain.ts
  packages/common/src/index.ts
  packages/recoil/src/atoms/preferences/index.tsx
Labels: extension, backend

#1825 validate add public key signature
  backend/native/backpack-api/src/routes/v1/authenticate.ts
  backend/native/backpack-api/src/routes/v1/users.ts
  backend/native/backpack-api/src/validation/signature.ts
  backend/native/backpack-api/src/validation/user.ts
  packages/background/src/backend/core.ts
Labels: backend

#1827 display an error on public key in use during private key import
  backend/native/backpack-api/src/routes/v1/users.ts
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
Labels: extension, backend

#1817 add lazy imports in extension
  packages/app-extension/package.json
  packages/app-extension/src/index.tsx
  packages/app-extension/src/options/index.tsx
  packages/app-extension/tsconfig.json
  packages/app-extension/webpack.config.js
  yarn.lock
Labels: extension

#1828 use token metadata properly
  packages/app-extension/src/components/Unlocked/Balances/Balances.tsx
  packages/background/src/frontend/solana-connection.ts
  packages/common/package.json
  packages/common/scripts/config.sh
  packages/common/src/solana/background-connection.ts
  packages/common/src/solana/programs/token.ts
  packages/common/src/solana/programs/xnft.ts
  packages/common/src/solana/types.ts
  packages/recoil/package.json
  packages/recoil/src/atoms/solana/token.tsx
  packages/recoil/src/hooks/useTransactionData.tsx
  yarn.lock
Labels: extension

#1829 Profile Pictures
  backend/native/backpack-api/src/index.ts
  backend/workers/avatars/src/index.tsx
  backend/workers/avatars/wrangler.toml
  backend/workers/data/src/index.ts
  backend/workers/data/wrangler.toml
  backend/workers/ethereum-rpc-proxy/package.json
  backend/workers/ethereum-rpc-proxy/src/index.ts
  backend/workers/ethereum-rpc-proxy/tsconfig.json
  backend/workers/ethereum-rpc-proxy/wrangler.toml
  backend/workers/nft-data/package.json
  backend/workers/nft-data/src/index.ts
  backend/workers/nft-data/tsconfig.json
  backend/workers/nft-data/wrangler.toml
  backend/workers/swr-cache/package.json
  backend/workers/swr-cache/src/index.ts
  backend/workers/swr-cache/src/swr.ts
  backend/workers/swr-cache/tsconfig.json
  backend/workers/swr-cache/wrangler.toml
  backend/workers/swr-data-cache/src/index.ts
  backend/workers/swr-data-cache/wrangler.toml
  examples/clients/simple/src/SolanaWallet.tsx
  packages/app-extension/src/components/Locked/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Common.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/AvatarHeader.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/app-extension/src/components/Unlocked/Settings/UsernamesMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/app-extension/src/components/common/Layout/BottomCard.tsx
  packages/app-extension/src/components/common/Layout/Tab.tsx
  packages/app-extension/src/components/common/ProxyImage.tsx
  packages/app-extension/src/components/common/index.tsx
  packages/app-mobile/src/components/Unlocked/Nfts/Common.tsx
  packages/chat-sdk/src/components/styles.ts
  packages/common-public/src/utils.ts
  packages/common/src/constants.ts
  packages/common/src/ethereum/connection-url.ts
  packages/common/src/solana/cluster.ts
  packages/recoil/src/atoms/avatar.ts
  packages/recoil/src/atoms/ethereum/nft.tsx
  packages/recoil/src/atoms/index.tsx
  packages/recoil/src/hooks/avatar.tsx
  packages/themes/src/index.tsx
Labels: extension, mobile, backend

#1838 add an api endpoint to query user ids based on blockchain/public key
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/v1/public-keys.ts
Labels: backend

#1839 use a public key lookup to disable imports for wallets used on other accounts
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
  packages/app-extension/src/hooks/useConflictQuery.tsx
Labels: extension

#1842 balance and a bunch of other stuff lol
  packages/app-mobile/package.json
  packages/app-mobile/src/components/BottomDrawerCards.tsx
  packages/app-mobile/src/components/BottomDrawerEthereumConfirmation.tsx
  packages/app-mobile/src/components/BottomDrawerSolanaConfirmation.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/TokenAmountHeader.tsx
  packages/app-mobile/src/components/TransactionData.tsx
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/hooks/index.ts
  packages/app-mobile/src/hooks/useIsValidAddress.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/DepositScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ChangePasswordScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsMenuList.tsx
  packages/app-mobile/src/screens/Unlocked/YourAccountScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  yarn.lock
Labels: mobile

#1845 account flows
  packages/app-mobile/package.json
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/screens/ResetWarningScreen.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/ForgotPasswordScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ChangePasswordScreen.tsx
  packages/app-mobile/src/screens/Unlocked/ShowPrivateKeyScreen.tsx
  packages/app-mobile/src/screens/Unlocked/ShowRecoveryPhraseScreen.tsx
  packages/app-mobile/src/screens/Unlocked/YourAccountScreen.tsx
  yarn.lock
Labels: mobile

#1852 fix forgot password screen from settings
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ChangePassword.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
Labels: extension

#1836 fetch nft uri data lazily
  packages/app-extension/src/components/Unlocked/Nfts/Collection.tsx
  packages/background/src/backend/solana-connection.ts
  packages/background/src/frontend/solana-connection.ts
  packages/common/src/constants.ts
  packages/common/src/solana/background-connection.ts
  packages/common/src/solana/programs/token.ts
  packages/common/src/solana/types.ts
  packages/recoil/src/atoms/balance.tsx
  packages/recoil/src/atoms/prices.tsx
  packages/recoil/src/atoms/solana/nft.tsx
  packages/recoil/src/atoms/solana/token.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/solana/useLoadSplTokens.tsx
  yarn.lock
Labels: extension

#1861 remove public key conflict check if not using jwt
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
Labels: extension

#1860 Using Virtual List for NFTs
  packages/app-extension/package.json
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Solana/index.tsx
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/BlockchainHeader.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/app-extension/src/components/common/Layout/Nav.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/components/common/ProxyImage.tsx
  packages/app-extension/src/plugin/Component.tsx
  packages/app-mobile/src/screens/Unlocked/RenameWalletScreen.tsx
  packages/themes/src/index.tsx
  yarn.lock
Labels: extension, mobile

#1864 Cleaning up some design changes, flickering and missing Scrollbars
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/BlockchainHeader.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/app-extension/src/components/common/Layout/Nav.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/components/common/ProxyImage.tsx
  packages/app-extension/src/components/common/TokenAmountHeader.tsx
Labels: extension

#1874 account setting flow cleanup
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/NavHeader.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AccountSettingsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/PreferencesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ProfileScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsList.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsMenuList.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsRow.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/WalletList.tsx
  packages/app-mobile/src/screens/Unlocked/ShowPrivateKeyScreen.tsx
  packages/app-mobile/src/screens/Unlocked/ShowRecoveryPhraseScreen.tsx
Labels: mobile

#1876 fix active wallet update
  packages/app-mobile/src/screens/Unlocked/Settings/ProfileScreen.tsx
Labels: mobile

#1871 start removing single wallet assumptions
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Solana/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Token.tsx
  packages/app-extension/src/components/common/TokenTable.tsx
  packages/recoil/src/atoms/balance.tsx
  packages/recoil/src/atoms/solana/jupiter.tsx
  packages/recoil/src/atoms/solana/token.tsx
  packages/recoil/src/atoms/wallet.tsx
  packages/recoil/src/context/Swap.tsx
  packages/recoil/src/hooks/solana/index.tsx
  packages/recoil/src/hooks/useBlockchain.tsx
  packages/recoil/src/hooks/useTransactionData.tsx
Labels: extension

#1877 Virtual list: Loading indicators and styling fixes
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
Labels: extension

#1882 Add swr cache for offchain NFT metadata fetching
  backend/native/backpack-api/src/routes/v1/proxy.ts
  backend/workers/swr-cache/src/index.ts
  packages/common/src/solana/programs/token.ts
Labels: backend

#1894 send flow updates
  packages/app-mobile/src/components/Form.tsx
  packages/app-mobile/src/components/TokenInputField.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/ImportPrivateKeyScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
Labels: mobile

#1892 add public key to server on enable blockchain
  backend/native/backpack-api/src/routes/v1/users.ts
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Blockchains.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/frontend/server-ui.ts
Labels: extension, mobile, backend

#1905 account to wallet wording tweak
  packages/app-extension/src/components/Onboarding/pages/CreateOrImportWallet.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
Labels: extension, mobile

#1898 wallet selector on origin approval
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveOrigin.tsx
  packages/app-extension/src/components/Unlocked/Approvals/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/Balances.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/common/Icon/index.tsx
  packages/app-extension/src/components/common/WalletList.tsx
  packages/app-extension/src/components/common/index.tsx
  packages/background/src/backend/core.ts
  packages/background/src/frontend/server-injected.ts
  packages/recoil/src/hooks/wallet.tsx
Labels: extension

#1912 origin approve styles
  packages/app-extension/src/components/Unlocked/Approvals/ApproveOrigin.tsx
  packages/app-extension/src/components/Unlocked/Approvals/index.tsx
Labels: extension

#1913 settings row adjustments
  packages/app-mobile/src/hooks/useTheme.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsList.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsRow.tsx
Labels: mobile

#1927 Avatar cache tweaks & hook update
  backend/workers/avatars/src/index.tsx
  backend/workers/swr-cache/src/index.ts
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/recoil/src/atoms/avatar.ts
  packages/recoil/src/hooks/avatar.tsx
Labels: extension, backend

#1934 app loading frame fixes so no null screen
  packages/app-mobile/app.config.js
  packages/app-mobile/index.js
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/hooks/useLoadedAssets.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
Labels: mobile

#1936 app config app env fixes
  packages/app-mobile/.eslintrc.js
  packages/app-mobile/app.config.js
  packages/app-mobile/tsconfig.json
Labels: mobile

#1937 adds different settings around commit hash code
  packages/app-mobile/app.config.js
Labels: mobile

#1933 New nftCollections Atoms (& remove useLoader)
  packages/app-extension/src/components/Unlocked/Nfts/Collection.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Common.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/common/src/types.ts
  packages/recoil/src/atoms/nft.tsx
  packages/recoil/src/equals.ts
  packages/recoil/src/hooks/index.tsx
  packages/recoil/src/hooks/useNftMetadata.tsx
Labels: extension

#1941 Fix popout race-condition -> wait for popup to be fully opened
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/index.tsx
  packages/common/src/browser/extension.ts
Labels: extension

#1942 add user to message init useEffect array
  packages/app-extension/src/hooks/useAuthentication.tsx
  packages/message-sdk/src/components/Inbox.tsx
Labels: extension

#1946 add `graphql-zeus` as a devDependency to pin version
  backend/native/zeus/package.json
  yarn.lock
Labels: backend

#1932 track referrals
  backend/native/backpack-api/src/auth/middleware.ts
  backend/native/backpack-api/src/auth/util.ts
  backend/native/backpack-api/src/config.ts
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/v1/authenticate.ts
  backend/native/backpack-api/src/routes/v1/referrals.ts
  backend/native/backpack-api/src/routes/v1/users.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  backend/reef/hasura/migrations/default/1671541000386_alter_table_auth_users_add_column_referrer_id/down.sql
  backend/reef/hasura/migrations/default/1671541000386_alter_table_auth_users_add_column_referrer_id/up.sql
  backend/reef/hasura/migrations/default/1671541036757_set_fk_auth_users_referrer_id/down.sql
  backend/reef/hasura/migrations/default/1671541036757_set_fk_auth_users_referrer_id/up.sql
Labels: backend

#1952 jwt account syncing
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/components/Unlocked/WithSyncAccount.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/hooks/useAuthentication.tsx
  packages/blockchains/solana/src/keyring/index.ts
  packages/recoil/src/atoms/preferences/connection-urls.tsx
Labels: extension

#1954 remove unused imports and vars from extension
  packages/app-extension/src/app/ErrorBoundary.tsx
  packages/app-extension/src/background/index.ts
  packages/app-extension/src/components/LedgerIframe.tsx
  packages/app-extension/src/components/Locked/index.tsx
  packages/app-extension/src/components/Onboarding/pages/BlockchainSelector.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSign.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccountUsernameForm.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveMessage.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveOrigin.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveTransaction.tsx
  packages/app-extension/src/components/Unlocked/Approvals/index.tsx
  packages/app-extension/src/components/Unlocked/ApproveTransactionRequest.tsx
  packages/app-extension/src/components/Unlocked/Apps/Plugin.tsx
  packages/app-extension/src/components/Unlocked/Apps/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/BalanceSummaryWidget.tsx
  packages/app-extension/src/components/Unlocked/Balances/Balances.tsx
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentActivity.tsx
  packages/app-extension/src/components/Unlocked/Balances/StripeRamp.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Messages/ChatDrawer.tsx
  packages/app-extension/src/components/Unlocked/Messages/SearchUsers.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Collection.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Common.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Experience.tsx
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/AvatarHeader.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/BlockchainHeader.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Ethereum/CustomRpcUrl.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/ConnectionSwitch.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/CustomRpcUrl.tsx
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/index.tsx
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/app-extension/src/components/Unlocked/XnftPopovers/Success.tsx
  packages/app-extension/src/components/common/Layout/ActionCard.tsx
  packages/app-extension/src/components/common/Layout/NavStack.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/components/common/TokenTable.tsx
  packages/app-extension/src/components/common/index.tsx
  packages/app-extension/src/permissions/CameraPermissions.tsx
  packages/app-extension/src/permissions/NotificationPermissions.tsx
  packages/app-extension/src/permissions/PermissionsContent.tsx
  packages/app-extension/src/plugin/Component.tsx
  packages/app-extension/src/utils/solana.ts
Labels: extension

#1832 update rpc proxy headers
  backend/workers/rpc-proxy/src/index.ts
Labels: backend

#1957 Fix Collections
  packages/app-extension/src/components/Unlocked/Nfts/Collection.tsx
Labels: extension

#1959 Popup JS size reduction
  packages/app-extension/src/index.tsx
  packages/app-extension/src/popup.html
  packages/react-common/src/components/base/Loading.tsx
  packages/themes/src/index.tsx
Labels: extension

#1960 Allow resetting nftCollection to shortcut polling
  packages/app-extension/src/index.tsx
  packages/recoil/src/atoms/nft.tsx
  packages/recoil/src/context/Notifications.tsx
Labels: extension

#1974 extra eas updates
  .github/workflows/app-mobile-preview.yml
  packages/app-mobile/eas.json
Labels: mobile

#1976 fix mobile commit hash
  .github/actions/app-mobile-monorepo-setup/action.yml
  .github/workflows/app-mobile-build.yml
  .github/workflows/app-mobile-preview.yml
  packages/app-mobile/app.config.js
Labels: mobile

#1981 commify and fix ticker display in balances
  packages/app-extension/src/components/Unlocked/Balances/Balances.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/app-extension/src/components/common/MaxLabel.tsx
  packages/app-extension/src/components/common/MaxSwapLabel.tsx
  packages/app-extension/src/components/common/TokenAmountHeader.tsx
  packages/app-mobile/src/components/SwapInfo.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/common-public/src/utils.ts
  packages/recoil/src/atoms/ethereum/token.tsx
  packages/recoil/src/atoms/solana/token.tsx
Labels: extension, mobile
