Repository coral-xyz/backpack, pull requests merged in 2022-09, with the labels that each got.

#863 add some local validation during onboarding
  packages/app-extension/src/components/Onboarding/CheckInviteCodeForm.tsx
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/background/src/backend/core.ts
Labels: extension

#866 onboarding tweaks
  .github/workflows/pull_request.yml
  packages/app-extension/src/components/Onboarding/CheckInviteCodeForm.tsx
  packages/app-extension/src/components/Onboarding/OnboardingWelcome.tsx
  packages/app-extension/src/components/Onboarding/WaitingRoom.tsx
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/options.html
Labels: extension

#876 fix menu container in onboarding flow
  packages/app-extension/src/components/Onboarding/OnboardingWelcome.tsx
Labels: extension

#878 dont crash on rejected ethereum recent activity queries
  packages/app-extension/src/components/Unlocked/Balances/RecentActivity.tsx
  packages/recoil/src/atoms/recent-transactions.tsx
Labels: extension

#892 auto-create an invitation for each image record
  .github/workflows/pull_request.yml
  backend/reef/hasura/metadata/databases/default/tables/public_images.yaml
  backend/reef/hasura/migrations/default/1664301242943_create_invitation_for_image_record_trigger/down.sql
  backend/reef/hasura/migrations/default/1664301242943_create_invitation_for_image_record_trigger/up.sql
  backend/reef/hasura/migrations/default/1664301421183_set_fk_public_images_invite_code/down.sql
  backend/reef/hasura/migrations/default/1664301421183_set_fk_public_images_invite_code/up.sql
Labels: backend

#896 add mod role to gql api
  backend/reef/hasura/metadata/databases/default/tables/auth_invitations.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_images.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_invitations.yaml
Labels: backend

#906 make onboarding btn for waiting room more prominent
  packages/app-extension/src/blue_ball.png
  packages/app-extension/src/components/Onboarding/OnboardingWelcome.tsx
Labels: extension

#913 detect blockchain/display correct wallet on approve origin popup
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveOrigin.tsx
  packages/background/src/frontend/server-injected.ts
  packages/common/src/browser/extension.ts
  packages/recoil/src/hooks/useBlockchain.tsx
Labels: extension

#889 configurable ethereum transactions
  examples/xnft/provider-test/src/app.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveTransaction.tsx
  packages/app-extension/src/components/Unlocked/Approvals/index.tsx
  packages/app-extension/src/components/Unlocked/ApproveTransactionRequest.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Ethereum/index.tsx
  packages/app-extension/src/components/common/Layout/Drawer.tsx
  packages/app-extension/src/components/common/List.tsx
  packages/app-extension/src/components/common/Settings/List.tsx
  packages/app-extension/src/components/common/TransactionData.tsx
  packages/provider-core/src/common/solana.ts
  packages/provider-core/src/request-manager.ts
  packages/recoil/src/atoms/prices.tsx
  packages/recoil/src/hooks/usePriceData.tsx
  packages/recoil/src/hooks/useTransactionData.tsx
  yarn.lock
Labels: extension

#898 remove is secondary prop from button
  packages/app-extension/src/components/common/index.tsx
Labels: extension

#915 normalize address in send input validation
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
Labels: extension

#909 use bip44 root for keyring store creation
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-mobile/src/screens/NeedsOnboarding/CreateWallet/index.tsx
Labels: extension, mobile

#908 fix hardware help link
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/ConnectHardwareFailure.tsx
Labels: extension

#907 add password show/hide on create password form
  packages/app-extension/src/components/common/Account/CreatePassword.tsx
  packages/react-xnft-renderer/src/Component.tsx
Labels: xnft, extension

#891 common component for header token amount display
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Ethereum/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Solana/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Token.tsx
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/app-extension/src/components/common/TokenAmountHeader.tsx
Labels: extension

#942 add appropriate fill colors to onboard icons
  packages/app-extension/src/components/common/Account/SetupComplete.tsx
Labels: extension

#931 share toggle password visibility button with confirmation field
  packages/app-extension/src/components/common/Account/CreatePassword.tsx
Labels: extension

#949 various ticketed styling changes
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ChangePassword.tsx
  packages/app-extension/src/components/common/Account/CreatePassword.tsx
  packages/app-extension/src/components/common/Account/SetupComplete.tsx
Labels: extension
