Repository coral-xyz/backpack, pull requests merged in 2022-10, with the labels that each got.

#953 improve onboarding flow
  packages/app-extension/src/app/App.css
  packages/app-extension/src/components/Locked/index.tsx
  packages/app-extension/src/components/Onboarding/CheckInviteCodeForm.tsx
  packages/app-extension/src/components/Onboarding/OnboardingWelcome.tsx
  packages/app-extension/src/components/Onboarding/WaitingRoom.tsx
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/CreateOrImportWallet.tsx
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/ImportAccounts.tsx
  packages/app-extension/src/components/Onboarding/pages/InviteCodeForm.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoveryPhrase.tsx
  packages/app-extension/src/components/Onboarding/pages/SetPassword.tsx
  packages/app-extension/src/components/Onboarding/pages/UsernameForm.tsx
  packages/app-extension/src/components/Onboarding/pages/WaitingRoom.tsx
  packages/app-extension/src/components/common/Account/CreatePassword.tsx
  packages/app-extension/src/components/common/Account/MnemonicInput.tsx
  packages/app-extension/src/components/common/index.tsx
  packages/app-extension/src/options/Options.tsx
  packages/app-extension/webpack.config.js
  yarn.lock
Labels: extension

#967 let mod role read winner column
  backend/reef/hasura/metadata/databases/default/tables/public_images.yaml
Labels: backend

#973 hamburger menu on 1st onboarding page only
  packages/app-extension/src/components/Onboarding/index.tsx
Labels: extension

#932 remove any code that relied on a singular active wallet
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Deposit.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-mobile/src/App.tsx
  packages/recoil/src/hooks/wallet.tsx
Labels: extension, mobile

#977 use wrangler ^2.1.9 across monorepo
  backend/workers/xnft-wrapper/package.json
  package.json
  yarn.lock
Labels: backend

#978 percentage change calculation fix
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/recoil/src/atoms/balance.tsx
  packages/recoil/src/atoms/ethereum/token.tsx
  packages/recoil/src/atoms/solana/token.tsx
Labels: extension

#984 reduce iframe size to end scroll
  packages/app-extension/src/components/Onboarding/pages/WaitingRoom.tsx
Labels: extension

#988 remove nav stack title from waiting room
  packages/app-extension/src/components/common/WaitingRoom.tsx
Labels: extension

#999 add discord and twitter links to in-app waiting room navbar
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/common/SocialNavbarButtons.tsx
  packages/app-extension/src/components/common/WaitingRoom.tsx
Labels: extension

#1000 provide dark mode value to waiting room iframe
  packages/app-extension/src/components/common/WaitingRoom.tsx
Labels: extension

#1003 account recovery onboarding flow
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_images.yaml
  backend/workers/auth/package.json
  backend/workers/auth/src/index.ts
  backend/workers/auth/src/zeus/const.ts
  backend/workers/auth/src/zeus/index.ts
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/InviteCodeForm.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoveryPhrase.tsx
  packages/app-extension/src/components/common/Account/MnemonicInput.tsx
  packages/background/src/backend/core.ts
  yarn.lock
Labels: extension, backend

#1039 fix swap overflow in token input field
  packages/app-extension/src/components/Unlocked/Swap.tsx
Labels: extension

#1041 fix hardcoded blockchain in eth ledger loading
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
Labels: extension

#1016 remove legacy active blockchain code and misc cleanup
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ShowPrivateKey.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/blockchain.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/keyring.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/src/constants.ts
  packages/recoil/src/atoms/wallet.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/wallet.tsx
  yarn.lock
Labels: extension

#1053 add invite code check in username flow
  backend/reef/hasura/metadata/databases/default/tables/public_invitations.yaml
  backend/workers/auth/src/index.ts
Labels: backend

#1042 enable/disable blockchains
  README.md
  packages/app-extension/src/components/Unlocked/Apps/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Blockchains.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/common/TokenTable.tsx
  packages/app-extension/src/components/common/index.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/ethereum-connection.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/solana-connection.ts
  packages/background/src/backend/store/preferences.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/scripts/config.sh
  packages/common/src/constants.ts
  packages/recoil/src/atoms/balance.tsx
  packages/recoil/src/atoms/blockchain.tsx
  packages/recoil/src/atoms/index.tsx
  packages/recoil/src/atoms/wallet.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/useBlockchain.tsx
Labels: extension

#1060 fix deps so that packages/common* gets built before being used
  .github/workflows/pull_request.yml
  packages/xnft-cli/package.json
Labels: xnft

#1063 encode pass for memoryrouter during onboarding
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/SetPassword.tsx
Labels: extension

#1084 add new appstore role to hasura
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
Labels: backend

#1099 Add `style` prop to <Path> component
  packages/react-xnft-renderer/src/Component.tsx
  packages/react-xnft-renderer/src/plugin.ts
  packages/react-xnft/src/reconciler.ts
Labels: xnft

#1104 make enter to submit work on show recovery phrase form
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ShowRecoveryPhrase.tsx
Labels: extension

#1103 make enter to submit work on show private key password form
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ShowPrivateKey.tsx
Labels: extension

#1077 add blockchain selector to onboarding
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  backend/reef/hasura/migrations/default/1665613268732_alter_table_auth_users_add_column_blockchain/down.sql
  backend/reef/hasura/migrations/default/1665613268732_alter_table_auth_users_add_column_blockchain/up.sql
  backend/reef/hasura/migrations/default/1665624518123_alter_table_auth_users_add_check_constraint_pubkey_format/down.sql
  backend/reef/hasura/migrations/default/1665624518123_alter_table_auth_users_add_check_constraint_pubkey_format/up.sql
  backend/workers/auth/package.json
  backend/workers/auth/src/index.ts
  backend/workers/auth/src/zeus/const.ts
  backend/workers/auth/src/zeus/index.ts
  packages/app-extension/src/components/Locked/index.tsx
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/BlockchainSelector.tsx
  packages/app-extension/src/components/Onboarding/pages/CreateOrImportWallet.tsx
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/ImportAccounts.tsx
  packages/app-extension/src/components/Onboarding/pages/InviteCodeForm.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoveryPhrase.tsx
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
  packages/app-extension/src/components/common/Layout/ActionCard.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/frontend/server-ui.ts
  yarn.lock
Labels: extension, backend

#1144 add an import accounts wrapper around the ledger flow for reuse
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/ConnectHardwareImport.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/index.tsx
  packages/app-extension/src/options/Options.tsx
Labels: extension

#1146 make enter to submit work on rename wallet form
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RenameWallet.tsx
Labels: extension

#1145 fix truncation on collection name in nft grid
  packages/app-extension/src/components/Unlocked/Nfts/Common.tsx
Labels: extension

#1154 add new table to manage the review queue for appstore curation
  backend/reef/hasura/metadata/databases/default/tables/appstore_reviews.yaml
  backend/reef/hasura/metadata/databases/default/tables/tables.yaml
  backend/reef/hasura/migrations/default/1666019527389_create_schema_appstore/down.sql
  backend/reef/hasura/migrations/default/1666019527389_create_schema_appstore/up.sql
  backend/reef/hasura/migrations/default/1666019774360_create_table_appstore_reviews/down.sql
  backend/reef/hasura/migrations/default/1666019774360_create_table_appstore_reviews/up.sql
Labels: backend

#1192 add avatars worker
  backend/workers/avatars/package.json
  backend/workers/avatars/src/index.tsx
  backend/workers/avatars/tsconfig.json
  backend/workers/avatars/wrangler.toml
  yarn.lock
Labels: backend

#1193 pixel avatars
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/recoil/src/hooks/avatar.tsx
  packages/recoil/src/hooks/index.tsx
  packages/themes/src/index.tsx
Labels: extension

#1189 bump apps to react 18
  package.json
  packages/app-extension/package.json
  packages/app-mobile/package.json
  packages/recoil/package.json
  yarn.lock
Labels: extension, mobile

#1207 add ix data to curation table
  backend/reef/hasura/metadata/databases/default/tables/appstore_pending_curator_reviews.yaml
  backend/reef/hasura/migrations/default/1666191675960_alter_table_appstore_pending_curator_reviews_alter_column_transaction/down.sql
  backend/reef/hasura/migrations/default/1666191675960_alter_table_appstore_pending_curator_reviews_alter_column_transaction/up.sql
  backend/reef/hasura/migrations/default/1666191774782_alter_table_appstore_pending_curator_reviews_add_column_ix_keys/down.sql
  backend/reef/hasura/migrations/default/1666191774782_alter_table_appstore_pending_curator_reviews_add_column_ix_keys/up.sql
Labels: backend

#1237 add new user signup webhook
  backend/workers/auth/src/index.ts
Labels: backend

#1259 wallet create fixes
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/index.tsx
Labels: extension

#1246 add PR comment if hasura metadata changes
  .github/workflows/pull_requests.yml
Labels: backend

#1223 username one to many public keys
  backend/reef/hasura/metadata/databases/default/tables/auth_publickeys.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_publickeys_history.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_publickeys_latest.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  backend/reef/hasura/metadata/databases/default/tables/tables.yaml
  backend/reef/hasura/migrations/default/1666296699660_create_table_auth_publickeys/down.sql
  backend/reef/hasura/migrations/default/1666296699660_create_table_auth_publickeys/up.sql
  backend/reef/hasura/migrations/default/1666304807900_migrate_publickeys_to_publickeys_table/down.sql
  backend/reef/hasura/migrations/default/1666304807900_migrate_publickeys_to_publickeys_table/up.sql
  backend/reef/hasura/migrations/default/1666304807904_alter_table_auth_users_drop_column_pubkey/down.sql
  backend/reef/hasura/migrations/default/1666304807904_alter_table_auth_users_drop_column_pubkey/up.sql
  backend/reef/hasura/migrations/default/1666304823954_alter_table_auth_users_drop_column_blockchain/down.sql
  backend/reef/hasura/migrations/default/1666304823954_alter_table_auth_users_drop_column_blockchain/up.sql
  backend/reef/hasura/migrations/default/1666315133774_create_publickeys_view/down.sql
  backend/reef/hasura/migrations/default/1666315133774_create_publickeys_view/up.sql
  backend/workers/auth/package.json
  backend/workers/auth/src/index.ts
  backend/workers/auth/src/zeus/const.ts
  backend/workers/auth/src/zeus/index.ts
Labels: backend

#1289 updates to worker for multichain onboarding
  backend/workers/auth/src/index.ts
Labels: backend

#1290 add user_id permission to publickey history
  backend/reef/hasura/metadata/databases/default/tables/auth_publickeys_history.yaml
Labels: backend

#1296 fix casing on publicKey in auth worker
  backend/workers/auth/src/index.ts
Labels: backend

#1303 disable hardware signing if username feature is disabled
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
Labels: extension

#1305 fix import flow with require signature disabled in onboarding
  packages/app-extension/src/components/Onboarding/pages/HardwareOnboard.tsx
Labels: extension

#1308 invalidate blockchain keyring init parameters if they are no longer valid
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
Labels: extension

#1306 Entrypoint for ONE xNft
  .gitignore
  examples/xnft/iframe/package.json
  packages/app-extension/src/components/Unlocked/Apps/index.tsx
  packages/app-extension/src/components/Unlocked/DisplayPlugin.tsx
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/components/common/Layout/NavTabs.tsx
  packages/app-extension/src/hooks/useIsONELive.ts
  packages/common/src/solana/programs/xnft.ts
  yarn.lock
Labels: extension

#1317 One Entry Skeleton
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/app-extension/src/hooks/useIsONELive.ts
Labels: extension

#1318 One entry handle window resize
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
Labels: extension

#1320 One Entry Preload Image
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
Labels: extension

#1331 add CORS support to auth worker
  backend/workers/auth/src/index.ts
Labels: backend

#1345 fix invite code entry
  packages/app-extension/src/components/Onboarding/pages/InviteCodeForm.tsx
Labels: extension

#1363 One Entry Whitelist
  packages/app-extension/src/hooks/useIsONELive.ts
  yarn.lock
Labels: extension
