Repository coral-xyz/backpack, pull requests merged in 2023-05, with the labels that each got.

#3857 adds description to transactions & fixes spl token node
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#3862 graphql jwt check, user resolution, multi-wallet query
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/native/backpack-api/src/routes/graphql/index.ts
  backend/native/backpack-api/src/routes/graphql/query.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#3663 Peter/new navigation stack
  packages/app-mobile/app.config.ts
  packages/app-mobile/package.json
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/RecentActivityList.tsx
  packages/app-mobile/src/components/RecentActivityListItem.tsx
  packages/app-mobile/src/components/Wallets.tsx
  packages/app-mobile/src/hooks/index.ts
  packages/app-mobile/src/hooks/recoil.tsx
  packages/app-mobile/src/hooks/recoil__FAKE_DATA.ts
  packages/app-mobile/src/hooks/wallets.tsx
  packages/app-mobile/src/lib/RecentActivityUtils.ts
  packages/app-mobile/src/lib/convertNftDataToFlatlist.ts
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/relay/RelayEnvironment.tsx
  packages/app-mobile/src/relay/environment.ts
  packages/app-mobile/src/screens/ActivityNotificationScreen.tsx
  packages/app-mobile/src/screens/CollectionListScreen.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/NotificationsScreen.tsx
  packages/app-mobile/src/screens/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/DummyScreen.tsx
  packages/app-mobile/src/screens/Unlocked/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ProfileScreen.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/app-mobile/src/screens/WalletOverviewScreen.tsx
  packages/app-mobile/src/screens/WalletsV2NftListScreen.tsx
  packages/tamagui-core/src/components/StyledText.tsx
  yarn.lock
Labels: extension, mobile, backend

#3868 add attributes and descriptions for nft data
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/index.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#3883 collection data
  packages/app-mobile/package.json
  packages/app-mobile/src/Providers.tsx
  packages/app-mobile/src/components/CollectionAttributesList.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/graphql/apollo.ts
  packages/app-mobile/src/graphql/apollo.tsx
  packages/app-mobile/src/graphql/package.json
  packages/app-mobile/src/lib/CollectionUtils.ts
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/screens/CollectionDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionItemDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionListScreen.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/TokenDetailScreen.tsx
  packages/app-mobile/src/screens/TokenListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  yarn.lock
Labels: mobile

#3885 gql: tensor listing data for solana and better filter inputs
  backend/native/backpack-api/.env.sample
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/index.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/clients/coingecko.ts
  backend/native/backpack-api/src/routes/graphql/clients/index.ts
  backend/native/backpack-api/src/routes/graphql/clients/tensor.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/native/backpack-api/src/routes/graphql/query.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#3888 graphql jwt validation and auth
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/native/backpack-api/src/routes/graphql/directives.ts
  backend/native/backpack-api/src/routes/graphql/index.ts
  backend/native/backpack-api/src/routes/graphql/query.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
  yarn.lock
Labels: backend

#3894 adds activity detail list item breakdown
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/screens/Unlocked/DummyScreen.tsx
Labels: mobile

#3902 gql: server-side response cache and cache control setup
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/native/backpack-api/src/routes/graphql/index.ts
  backend/native/backpack-api/src/routes/graphql/rules.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
  yarn.lock
Labels: backend

#3909 gql: notifications, primary wallet flag, query refactor
  backend/native/backpack-api/src/routes/graphql/resolvers/user.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/wallet.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
  web/package.json
  yarn.lock
Labels: backend

#3926 update hero section of website
  backend/native/backpack-api/src/routes/graphql/resolvers/user.ts
  web/components/Hero.tsx
  web/components/Nav.tsx
Labels: backend

#3931 gql: import public key mutation
  backend/native/backpack-api/src/routes/graphql/index.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/index.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/mutations.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/user.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/wallet.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#3946 use description and version from package.json
  packages/app-extension/webpack.config.js
Labels: extension

#3961 gql: field level schema docs
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/index.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/clients/hasura.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/wallet.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#3960 nft send flow
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/BottomDrawerEthereumConfirmation.tsx
  packages/app-mobile/src/components/BottomDrawerSolanaConfirmation.tsx
  packages/app-mobile/src/components/CollectionAttributesList.tsx
  packages/app-mobile/src/components/EthereumAdvancedSettings.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/Table.tsx
  packages/app-mobile/src/components/TamaguiLabel.tsx
  packages/app-mobile/src/components/TransactionData.tsx
  packages/app-mobile/src/components/UserAvatar.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/graphql/apollo.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/CollectionDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionItemDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/DummyScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendCollectibleSelectRecipientScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen2.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsMenuList.tsx
  packages/themes/src/base.ts
Labels: mobile

#3962 better debugging
  packages/app-mobile/app.config.ts
  packages/app-mobile/eas.json
  packages/app-mobile/index.js
  packages/app-mobile/package.json
  yarn.lock
Labels: mobile

#3971 eas build fixes
  packages/app-mobile/app.config.ts
  packages/app-mobile/eas.json
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/BottomSheetHelpModal.tsx
  packages/app-mobile/src/hooks/index.ts
  packages/app-mobile/src/hooks/useAuthentication.tsx
  packages/app-mobile/src/hooks/useIsONELive.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/index.tsx
  yarn.lock
Labels: mobile

#3981 updates
  packages/app-mobile/src/components/MnemonicInputFields.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Utils/UtilsDesignScreen.tsx
  packages/app-mobile/src/screens/Utils/UtilsModalScreen.tsx
Labels: mobile

#3990 profile updates etc
  packages/app-mobile/src/components/DEPRECATED__WalletSectionList.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ProfileScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
Labels: mobile

#3998 minor parsing update
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#4003 add name and symbol to the market data type
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/clients/helius.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#4005 conditionally toggle feature gates for user ids
  backend/workers/feature-gates/package.json
  backend/workers/feature-gates/src/FEATURES.ts
  backend/workers/feature-gates/src/index.ts
  backend/workers/feature-gates/wrangler.toml
  yarn.lock
Labels: backend

#4008 move chat functions out of tamagui folder into chat-xplat
  packages/app-extension/package.json
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-mobile/package.json
  packages/app-mobile/src/components/messaging/Inbox.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatHelpers.ts
  packages/chat-sdk/src/components/ChatRoom.tsx
  packages/chat-sdk/src/components/FullScreenChat.tsx
  packages/chat-sdk/src/components/Message.tsx
  packages/chat-sdk/src/components/SendMessage.tsx
  packages/chat-sdk/src/components/barter/BarterHeader.tsx
  packages/chat-sdk/src/components/barter/BarterUi.tsx
  packages/chat-sdk/src/components/messageInput/MessageInput.tsx
  packages/chat-xplat/.eslintrc.js
  packages/chat-xplat/.gitignore
  packages/chat-xplat/README.md
  packages/chat-xplat/package.json
  packages/chat-xplat/src/chat/index.ts
  packages/chat-xplat/src/chat/useChatsWithMetadata.tsx
  packages/chat-xplat/src/chat/useUserMetadata.tsx
  packages/chat-xplat/src/chat/useUsersMetadata.tsx
  packages/chat-xplat/src/index.ts
  packages/chat-xplat/src/utils/AuthenticatedSync.tsx
  packages/chat-xplat/src/utils/BackgroundChatsSync.tsx
  packages/chat-xplat/src/utils/Signaling.ts
  packages/chat-xplat/src/utils/SignalingManager.ts
  packages/chat-xplat/src/utils/fetchMoreChatsFor.tsx
  packages/chat-xplat/src/utils/getAuthHeader.ts
  packages/chat-xplat/src/utils/getSanitizedTitle.ts
  packages/chat-xplat/src/utils/index.ts
  packages/chat-xplat/src/utils/refreshChatsFor.tsx
  packages/chat-xplat/src/utils/refreshGroupsAndFriendships.tsx
  packages/chat-xplat/src/utils/refreshIndividualChatsFor.tsx
  packages/chat-xplat/src/utils/refreshUpdatesFor.tsx
  packages/chat-xplat/tsconfig.json
  packages/message-sdk/package.json
  packages/message-sdk/src/components/MessageList.tsx
  packages/message-sdk/src/components/ProfileScreen.tsx
  packages/message-sdk/src/components/UserList.tsx
  packages/tamagui-core/src/hooks/index.tsx
  packages/tamagui-core/src/index.tsx
  tsconfig.json
  yarn.lock
Labels: extension, mobile

#4017 new theme
  packages/app-extension/package.json
  packages/app-extension/tamagui.config.ts
  packages/app-extension/tsconfig.json
  packages/app-mobile/eas.json
  packages/app-mobile/package.json
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/hooks/useLoadedAssets.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen2.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsMenuList.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/app-mobile/tamagui.config.ts
  packages/app-mobile/tsconfig.eslint.json
  packages/tamagui-core/package.json
  packages/tamagui-core/src/colors.ts
  packages/tamagui-core/src/font-inter.ts
  packages/tamagui-core/src/index.tsx
  packages/tamagui-core/src/tamagui.config.ts
  packages/tamagui-core/src/tokens.ts
  packages/themes/src/colorsv2.ts
  yarn.lock
Labels: extension, mobile

#4022 add send friend request mutation to gql
  backend/native/backpack-api/src/routes/graphql/index.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/mutations.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/routes/v1/friends.ts
  backend/native/backpack-api/src/schema.graphql
  backend/native/notifications-worker/src/processors.ts
Labels: backend

#4024 gql: friend request mutation updates
  backend/native/backpack-api/src/routes/graphql/clients/hasura.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/index.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/mutation/authentication.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/mutation/friendship.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/mutation/index.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/mutation/wallets.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/mutations.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/friendship.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/index.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/notification.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/scalars.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/user.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/wallet.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#4037 gql: add user portfolio balance aggregate
  backend/native/backpack-api/src/routes/graphql/clients/hasura.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/user.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#4038 gql: minor changes
  backend/native/backpack-api/src/routes/graphql/clients/coingecko.ts
  backend/native/backpack-api/src/routes/graphql/clients/helius.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/user.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#4040 update avatars worker
  backend/workers/avatars/src/index.tsx
Labels: backend

#4045 gql: update eth token list and add eth token market data resolution
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/clients/coingecko.ts
  backend/native/backpack-api/src/routes/graphql/clients/helius.ts
  backend/native/backpack-api/src/routes/graphql/clients/uniswap.ts
Labels: backend

#4046 botttom sheet wallet + tamagui fixes
  packages/app-extension/tamagui.config.ts
  packages/app-extension/tsconfig.json
  packages/app-extension/webpack.dev.config.js
  packages/app-mobile/index.js
  packages/app-mobile/metro.config.js
  packages/app-mobile/src/components/BottomSheetModal.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/RecentActivityListItem.tsx
  packages/app-mobile/src/components/WalletSwitcherButton.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/graphql/apollo.tsx
  packages/app-mobile/src/images/wallet-list-ethereum.png
  packages/app-mobile/src/images/wallet-list-solana.png
  packages/app-mobile/src/lib/RecentActivityUtils.ts
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/NotificationsScreen.tsx
  packages/app-mobile/src/screens/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/Utils/UtilsDesignScreen.tsx
  packages/app-mobile/tamagui.config.ts
  packages/tamagui-core/src/components/Icon.native.tsx
  packages/tamagui-core/src/components/Icon.tsx
  packages/tamagui-core/src/components/Icon.types.ts
  packages/tamagui-core/src/components/ListItem.tsx
  packages/tamagui-core/src/components/SearchBox.tsx
  packages/tamagui-core/src/tamagui.config.ts
  packages/tamagui-core/src/tokens.ts
  packages/tamagui-core/tsconfig.json
Labels: extension, mobile

#4048 tamagui colors
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/tamagui-core/src/colors.ts
  packages/tamagui-core/src/tamagui.config.ts
  packages/tamagui-core/src/tokens.ts
Labels: mobile

#4049 fix mobile chat
  packages/app-mobile/src/components/Messages.tsx
  packages/app-mobile/src/screens/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatListScreen.tsx
Labels: mobile

#4050 adds empty state for notifications, recent activity, etc
  packages/app-mobile/src/components/RecentActivityList.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/screens/NotificationsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
Labels: mobile

#4053 use xnft jwt in dropzone
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/metadata/databases/default/tables/dropzone_distributors.yaml
  backend/reef/hasura/migrations/default/1684922646791_alter_table_dropzone_distributors_add_column_secret/down.sql
  backend/reef/hasura/migrations/default/1684922646791_alter_table_dropzone_distributors_add_column_secret/up.sql
  packages/dropzone-cli/index.js
Labels: backend

#4054 convert swap time to timestamp type
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/migrations/default/1684926170211_alter_auth_swaps_transaction_at_to_timestamp/down.sql
  backend/reef/hasura/migrations/default/1684926170211_alter_auth_swaps_transaction_at_to_timestamp/up.sql
Labels: backend

#4018 turn off service worker cache from mobile totally
  packages/app-mobile/src/App.tsx
Labels: mobile

#4058 gql: add token list serving query with filters
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/clients/coingecko.ts
  backend/native/backpack-api/src/routes/graphql/clients/helius.ts
  backend/native/backpack-api/src/routes/graphql/clients/uniswap.ts
  backend/native/backpack-api/src/routes/graphql/index.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/index.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/tokens.ts
  backend/native/backpack-api/src/routes/graphql/tokens/index.ts
  backend/native/backpack-api/src/routes/graphql/tokens/jupiter.ts
  backend/native/backpack-api/src/routes/graphql/tokens/uniswap.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#4057 wallet picker ux changes
  packages/app-mobile/eas.json
  packages/app-mobile/src/Providers.tsx
  packages/app-mobile/src/components/BottomSheetHelpModal.tsx
  packages/app-mobile/src/components/BottomSheetModal.tsx
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/RecentActivityList.tsx
  packages/app-mobile/src/components/WalletSwitcherButton.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/hooks/wallets.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/NotificationsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AddConnectWalletScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ProfileScreen.tsx
  packages/app-mobile/src/screens/Unlocked/ShowPrivateKeyScreen.tsx
  packages/app-mobile/src/screens/Unlocked/ShowRecoveryPhraseScreen.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  packages/app-mobile/src/screens/Utils/UtilsDesignScreen.tsx
  packages/tamagui-core/src/colors.ts
  packages/tamagui-core/src/components/ListItem.tsx
  packages/tamagui-core/src/components/StyledText.tsx
  packages/tamagui-core/src/tokens.ts
  packages/themes/src/colorsv2.ts
Labels: mobile

#4067 rpc proxy updates
  backend/workers/rpc-proxy/src/index.ts
Labels: backend

#4068 v0.6.8
  .github/workflows/pull_requests_and_merges.yml
  packages/app-extension/package.json
Labels: extension

#4077 remove conditional hook from recent activity
  packages/app-extension/src/components/Unlocked/Balances/RecentActivity.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Token.tsx
Labels: extension

#4086 dropzone program address update
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  packages/dropzone-cli/index.js
  yarn.lock
Labels: backend

#4089 garbage collection through a few packages
  packages/app-extension/src/components/Locked/LockedMenu.tsx
  packages/app-extension/src/components/Locked/index.tsx
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/InviteCodeForm.tsx
  packages/app-extension/src/components/Unlocked/Approvals/index.tsx
  packages/app-extension/src/components/Unlocked/Apps/Plugin.tsx
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentActivity.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/detail-parser.ts
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/types.ts
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Deposit.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Ethereum/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Ramp.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Solana/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/index.tsx
  packages/app-extension/src/components/Unlocked/Messages/Requests.tsx
  packages/app-extension/src/components/Unlocked/Messages/UserListSkeleton.tsx
  packages/app-extension/src/components/Unlocked/Nfts/NftDetail.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarPopover.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Ethereum/Connection.tsx
  packages/app-extension/src/components/Unlocked/Settings/UsernamesMenu.tsx
  packages/app-extension/src/components/common/Icon/index.tsx
  packages/app-extension/src/components/common/Layout/Drawer.tsx
  packages/app-extension/src/components/common/Layout/Nav.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/components/common/PopoverMenu.tsx
  packages/app-extension/src/components/common/SocialNavbarButtons.tsx
  packages/app-extension/src/components/common/TokenTable.tsx
  packages/app-extension/src/components/common/TransactionData.tsx
  packages/app-extension/src/components/common/WalletList.tsx
  packages/app-extension/src/components/common/index.tsx
  packages/app-extension/src/permissions/PermissionsPage.tsx
  packages/app-extension/src/permissions/utils.ts
  packages/app-extension/src/plugin/Component.tsx
  packages/app-extension/src/plugin/index.ts
  packages/app-extension/src/spotlight/FriendCard.tsx
  packages/app-extension/src/spotlight/SpotlightContacts.tsx
  packages/background/src/backend/ethereum-connection.ts
  packages/background/src/backend/solana-connection.ts
  packages/background/src/backend/store/index.ts
  packages/background/src/backend/store/isCold.ts
  packages/background/src/backend/store/keyname.ts
  packages/background/src/backend/store/migrations/migrate_0_2_0_510.ts
  packages/background/src/backend/store/navigation.ts
  packages/background/src/index.ts
  packages/background/src/types.ts
  packages/recoil/src/atoms/tokenMetadata.tsx
Labels: extension

#4090 token price detail flows
  packages/app-mobile/app.config.ts
  packages/app-mobile/package.json
  packages/app-mobile/patches/react-native-gifted-chat+2.0.1.patch
  packages/app-mobile/src/components/AccountSettingsBottomSheet.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/Messages.tsx
  packages/app-mobile/src/components/Pill.tsx
  packages/app-mobile/src/lib/makeRequest.ts
  packages/app-mobile/src/navigation/ChatNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/navigation/types.ts
  packages/app-mobile/src/screens/BrowserScreen.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/TokenPriceDetailScreen.tsx
  packages/app-mobile/src/screens/TokenPriceListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatHelpers.ts
  packages/app-mobile/src/screens/Unlocked/Chat/ChatListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/PreferencesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsRow.tsx
  packages/common/src/api/friendship.ts
  packages/tamagui-core/src/components/RoundedContainerGroup.tsx
  packages/tamagui-core/src/tokens.ts
  yarn.lock
Labels: mobile

#4098 fix USD formatting on token detail screen
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Token.tsx
Labels: extension
