Repository coral-xyz/backpack, pull requests merged in 2023-01, with the labels that each got.

#1984 fix nohoist
  examples/xnft/native-example/package.json
  examples/xnft/native-example/src/App.tsx
  examples/xnft/native-example/src/index.tsx
  examples/xnft/native-example/yarn.lock
  package.json
  packages/app-extension/src/components/Unlocked/Balances/Balances.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-mobile/eas.json
  packages/app-mobile/package.json
  packages/app-mobile/patches/expo+47.0.3.patch
  packages/app-mobile/patches/react-native+0.70.5.patch
  packages/background/src/backend/store/keyring.ts
  packages/common-public/src/utils.ts
  packages/recoil/src/context/Notifications.tsx
  patches/react-native+0.70.5.patch
  yarn.lock
Labels: extension, mobile

#1988 add websocket support to rpc proxy
  backend/workers/rpc-proxy/src/index.ts
Labels: backend

#1987 typescript project references setup + additional improvements
  packages/app-extension/tsconfig.json
  packages/app-mobile/tsconfig.json
  packages/background/package.json
  packages/background/tsconfig.json
  packages/blockchains/common/tsconfig.json
  packages/blockchains/evm/tsconfig.json
  packages/blockchains/keyring/tsconfig.json
  packages/blockchains/solana/tsconfig.json
  packages/chat-sdk/package.json
  packages/chat-sdk/tsconfig.json
  packages/common-public/package.json
  packages/common-public/tsconfig.json
  packages/common-public/tsconfig.rn.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/common/tsconfig.rn.json
  packages/db/package.json
  packages/db/tsconfig.json
  packages/ledger-injection/tsconfig.json
  packages/message-sdk/package.json
  packages/message-sdk/tsconfig.json
  packages/provider-core/tsconfig.json
  packages/react-common/package.json
  packages/react-common/tsconfig.json
  packages/react-xnft-dom-renderer/tsconfig.json
  packages/react-xnft/tsconfig.json
  packages/recoil/package.json
  packages/recoil/tsconfig.json
  packages/themes/package.json
  packages/themes/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Labels: xnft, extension, mobile

#2000 fix eslint commit hook error
  packages/app-extension/.eslintrc.js
  packages/app-mobile/.eslintrc.js
Labels: extension, mobile

#2001 eslint updates
  .eslintignore
  .eslintrc.js
  package.json
  packages/app-mobile/.eslintrc.js
  packages/app-mobile/tsconfig.json
  packages/eslint-config-custom/.eslintignore
  packages/eslint-config-custom/.eslintrc.js
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/native.js
  packages/eslint-config-custom/node.js
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/shared/__tests__/extensions-test.js
  packages/eslint-config-custom/shared/core.js
  packages/eslint-config-custom/shared/extensions.js
  packages/eslint-config-custom/shared/react.js
  packages/eslint-config-custom/shared/typescript-analysis.js
  packages/eslint-config-custom/shared/typescript.js
  packages/eslint-config-custom/web.js
  tsconfig.eslint.json
  web/.eslintrc.json
  yarn.lock
Labels: mobile

#2002 re-adds parserOptions
  packages/app-mobile/.eslintrc.js
  packages/app-mobile/src/App.tsx
Labels: mobile

#2011 update profile screen flow
  packages/app-mobile/src/hooks/useLoadedAssets.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ProfileScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsList.tsx
Labels: mobile

#2012 username dropdown
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/UserAccountsMenu.tsx
  packages/app-mobile/src/hooks/useTheme.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsList.tsx
Labels: mobile

#2017 balances screen and token tables updates
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/NavHeader.tsx
  packages/app-mobile/src/components/UserAccountsMenu.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/hooks/useLoadedAssets.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/navigation/index.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ProfileScreen.tsx
  packages/app-mobile/src/screens/Unlocked/YourAccountScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/common/scripts/config.sh
Labels: mobile

#2020 wallet connect menu button
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/app-mobile/src/screens/Unlocked/components/index.tsx
Labels: mobile

#2021 lazy fetch nft uri data
  packages/app-extension/package.json
  packages/app-extension/src/components/Unlocked/Nfts/Collection.tsx
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/background/src/backend/solana-connection.ts
  packages/common/src/solana/background-connection.ts
  packages/common/src/solana/programs/token.ts
  packages/common/src/types.ts
  packages/react-common/src/components/Icon/index.tsx
  packages/recoil/src/atoms/ethereum/nft.tsx
  packages/recoil/src/atoms/nft.tsx
  packages/recoil/src/atoms/solana/nft.tsx
  packages/recoil/src/atoms/solana/token.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/solana/index.tsx
  packages/recoil/src/hooks/solana/useBlockchainBalances.tsx
Labels: extension

#2033 fixes onboarding navigator
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsRow.tsx
Labels: mobile

#2034 fix locked navigator bug
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/ResetAppButton.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
Labels: mobile

#2040 adds keyboard avoiding view around locked screen
  packages/app-mobile/src/components/PasswordInput.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
Labels: mobile

#2055 fix mobile's error bubbling issue
  packages/app-mobile/index.js
  packages/app-mobile/src/App.tsx
  packages/common-public/src/utils.ts
  packages/common/src/browser/mobile.ts
  packages/common/src/channel/app-ui.ts
  packages/common/src/types.ts
Labels: mobile

#2057 ocp protocol
  packages/app-extension/package.json
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Solana/index.tsx
  packages/common/src/solana/index.ts
  packages/recoil/src/atoms/solana/nft.tsx
  yarn.lock
Labels: extension

#2071 error boundary updates
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
Labels: mobile

#2072 debugging race condition
  packages/app-mobile/.eslintrc.js
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/common/src/browser/mobile.ts
  packages/eslint-config-custom/native.js
  packages/eslint-config-custom/shared/core.js
  packages/eslint-config-custom/shared/react.js
  packages/eslint-config-custom/web.js
Labels: mobile

#2075 xnft nav stack to enable linking between xnfts
  examples/xnft/explorer/src/App/AppDetails.tsx
  packages/app-extension/src/components/Unlocked/Apps/Plugin.tsx
  packages/app-extension/src/components/Unlocked/Apps/Simulator.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/components/common/Layout/Tab.tsx
  packages/app-extension/src/components/common/Layout/XnftAppStack.tsx
  packages/background/src/backend/core.ts
  packages/background/src/frontend/server-injected.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/src/browser/extension.ts
  packages/common/src/constants.ts
  packages/common/src/plugin.ts
  packages/provider-core/src/root-provider-xnft.ts
  packages/recoil/src/atoms/bootstrap.tsx
  packages/recoil/src/context/Plugins.tsx
  packages/recoil/src/context/index.tsx
  packages/recoil/src/hooks/bootstrap.tsx
  packages/recoil/src/hooks/navigation.tsx
  packages/recoil/src/hooks/solana/usePlugins.tsx
  packages/xnft-cli/legacy/dev.js
  tsconfig.eslint.json
  yarn.lock
Labels: xnft, extension

#2089 add missing dependencies to api
  backend/native/backpack-api/package.json
  yarn.lock
Labels: backend

#2098 responsive tab bar and messaging
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/components/common/Layout/Tab.tsx
  packages/app-extension/src/components/common/Layout/hooks.tsx
  packages/background/src/backend/store/navigation.ts
  packages/common/src/constants.ts
  packages/db/src/hooks/chats.tsx
  packages/message-sdk/src/components/ChatScreen.tsx
  packages/recoil/src/types.ts
Labels: extension

#2123 adds flipper debugging
  packages/app-mobile/app.config.js
  packages/app-mobile/package.json
  packages/app-mobile/src/components/index.tsx
  yarn.lock
Labels: mobile

#2100 remove enable blockchain toggle
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Blockchains.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Ethereum/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RemoveWallet.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/WalletDetail.tsx
  packages/app-extension/src/components/common/Layout/hooks.tsx
  packages/app-extension/src/options/Options.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletDetailScreen.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/ethereum-connection.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/solana-connection.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/src/browser/extension.ts
  packages/common/src/constants.ts
  packages/common/src/preferences.ts
  packages/common/src/types.ts
  packages/message-sdk/src/components/Inbox.tsx
  packages/recoil/src/atoms/blockchain.tsx
  packages/recoil/src/atoms/friendship.tsx
  packages/recoil/src/atoms/index.tsx
  packages/recoil/src/atoms/preferences/index.tsx
  packages/recoil/src/atoms/wallet.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/useBlockchain.tsx
  packages/recoil/src/hooks/wallet.tsx
Labels: extension, mobile

#2126 eslint adjustments
  packages/app-mobile/src/App.tsx
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/shared/core.js
Labels: mobile

#2091 display error if trying to onboard with an already onboarded wallet
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/AlreadyOnboarded.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
Labels: extension

#2137 mobile working again
  package.json
  packages/app-mobile/.eslintrc.js
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/hooks/recoil.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  yarn.lock
Labels: mobile

#2140 fix balance summary
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
Labels: mobile

#2141 fixes add create wallet
  packages/app-mobile/src/components/BottomSheetHelpModal.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AddConnectWalletScreen.tsx
Labels: mobile

#2143 fix user accounts modal overlay
  packages/app-mobile/src/components/UserAccountsMenu.tsx
Labels: mobile

#2144 re-enable nft / apps tabs
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
Labels: mobile

#2115 avatar popover
  packages/app-extension/src/components/Unlocked/Settings/AvatarPopover.tsx
  packages/app-extension/src/components/Unlocked/Settings/SettingsNavStackDrawer.tsx
  packages/app-extension/src/components/Unlocked/Settings/UsernamesMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/components/common/Layout/Tab.tsx
  packages/recoil/src/atoms/prices.tsx
  packages/themes/src/index.tsx
Labels: extension

#2150 readme updates
  packages/app-mobile/README.md
Labels: mobile

#2160 quick click to pop load times
  packages/app-extension/src/app/App.tsx
  packages/app-extension/src/app/Router.tsx
Labels: extension

#2175 adds onboarding username real quick
  packages/app-mobile/.eslintrc.js
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/eslint-config-custom/native.js
Labels: mobile

#2176 nft screens
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/common/src/solana/background-connection.ts
Labels: mobile

#2183 fix key removal bug
  packages/app-extension/src/components/Unlocked/WithSyncAccount.tsx
  packages/background/src/backend/core.ts
Labels: extension

#2191 add error to hardware onboarding if blind signing disabled
  packages/app-extension/src/components/Onboarding/pages/HardwareSign.tsx
  packages/ledger-injection/src/index.ts
Labels: extension

#2194 convert nft screens to flatlist
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
Labels: mobile

#2198 nft detail flow
  packages/app-mobile/src/components/NFTCard.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/ImportPrivateKeyScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NFTDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/app-mobile/src/screens/Unlocked/components/index.tsx
  yarn.lock
Labels: mobile

#2199 tab bar icon
  packages/app-mobile/assets/tab-apps.svg
  packages/app-mobile/assets/tab-money.svg
  packages/app-mobile/assets/tab-nft.svg
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
Labels: mobile

#2200 sync dehydrated wallets with mnemonic
  packages/app-extension/src/components/Onboarding/pages/HardwareSearch.tsx
  packages/app-extension/src/components/Onboarding/pages/MnemonicSearch.tsx
  packages/app-extension/src/components/Unlocked/WithSyncAccount.tsx
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/keyname.ts
  packages/background/src/frontend/server-ui.ts
  packages/blockchains/evm/src/keyring/index.ts
  packages/blockchains/keyring/src/blockchain.ts
  packages/blockchains/keyring/src/types.ts
  packages/blockchains/solana/src/keyring/index.ts
  packages/common/src/constants.ts
Labels: extension

#2207 disable import private key button while loading
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportSecretKey.tsx
Labels: extension

#2208 disable remove wallet button while loading
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RemoveWallet.tsx
Labels: extension

#2209 updates useRecentTransactions
  packages/app-extension/src/components/Unlocked/Balances/RecentActivity.tsx
  packages/recoil/src/hooks/solana/useRecentTransactions.tsx
Labels: extension

#2206 recent transaction fixes
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/RecentActivityScreen.tsx
Labels: mobile

#2211 fix already imported private key error
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportSecretKey.tsx
Labels: extension

#2212 Mad Feed read permissions for gql subscriptions
  backend/reef/hasura/metadata/databases/default/tables/auth_collections.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_mad_feed_media.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_mad_feed_posts.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_mad_feed_votes.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_user_nfts.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_mad_feed_post_vote_sums.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_mad_feed_user_score_totals.yaml
Labels: backend

#1925 xNFT Migration to New Program
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/app-mobile/src/screens/Unlocked/AppListScreen.tsx
  packages/common/src/solana/programs/xnft.ts
  packages/recoil/src/atoms/solana/xnft.tsx
  packages/recoil/src/hooks/solana/usePlugins.tsx
Labels: xnft, extension, mobile

#2213 navigator serialization fixes
  packages/app-mobile/src/components/NFTCard.tsx
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/app-mobile/src/screens/Unlocked/components/index.tsx
  packages/app-mobile/src/types/package.json
  packages/app-mobile/src/types/types.ts
Labels: mobile

#2215 fix serialization of BigNumber in swap
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
Labels: mobile

#2216 asset/logo fixes
  .github/workflows/app-mobile-build.yml
  packages/app-mobile/assets/anchor-development.png
  packages/app-mobile/assets/anchor-production.png
  packages/app-mobile/assets/favicon.png
  packages/app-mobile/assets/tab-apps.svg
  packages/app-mobile/assets/tab-money.svg
  packages/app-mobile/assets/tab-nft.svg
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
Labels: mobile

#2217 turn on turbo caching
  .github/workflows/app-mobile-build.yml
  packages/app-mobile/app.config.js
  packages/app-mobile/package.json
  packages/eslint-config-custom/shared/core.js
  turbo.json
  yarn.lock
Labels: mobile

#2223 remove username and jwt flags
  .github/workflows/app-mobile-build.yml
  .github/workflows/app-mobile-preview.yml
  .github/workflows/pull_requests_and_merges.yml
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/background/src/backend/core.ts
  packages/common/scripts/config.sh
Labels: extension, mobile

#2224 display an error if insufficient fee to make swap
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/recoil/src/context/Swap.tsx
Labels: extension

#2220 Auto enable ONE nft notifications
  backend/native/xnft-api-server/src/db/index.ts
  packages/recoil/src/atoms/preferences/xnft-preferences.tsx
Labels: backend

#2235 move requests into the nav stack
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/message-sdk/src/components/Inbox.tsx
  packages/message-sdk/src/components/MessageList.tsx
  packages/message-sdk/src/components/RequestsScreen.tsx
  packages/recoil/src/atoms/index.tsx
  packages/recoil/src/atoms/requestsOpen.tsx
  packages/recoil/src/hooks/index.tsx
  packages/recoil/src/hooks/useRequestsOpen.tsx
Labels: extension

#2228 account swapping fixes wip
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-mobile/src/components/BottomDrawerCards.tsx
  packages/app-mobile/src/components/BottomDrawerSolanaConfirmation.tsx
  packages/app-mobile/src/components/BottomSheetConfirmSendModal.tsx
  packages/app-mobile/src/components/BottomSheetModal.tsx
  packages/app-mobile/src/components/TokenAmountHeader.tsx
  packages/app-mobile/src/hooks/useIsValidAddress.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/eslint-config-custom/native.js
  packages/eslint-config-custom/shared/react.js
Labels: extension, mobile

#2240 Mad feed trending, comment count & staking multiplier
  backend/reef/hasura/metadata/databases/default/tables/auth_collections.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_mad_feed_posts.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_user_nfts.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_mad_feed_post_vote_sums.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_mad_feed_user_score_totals.yaml
  backend/reef/hasura/migrations/default/1674661078669_run_sql_migration/down.sql
  backend/reef/hasura/migrations/default/1674661078669_run_sql_migration/up.sql
  backend/reef/hasura/migrations/default/1674661657051_run_sql_migration/down.sql
  backend/reef/hasura/migrations/default/1674661657051_run_sql_migration/up.sql
Labels: backend

#2245 revert metadata changes
  backend/reef/hasura/metadata/databases/default/tables/auth_collections.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_mad_feed_posts.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_user_nfts.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_mad_feed_post_vote_sums.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_mad_feed_user_score_totals.yaml
Labels: backend

#2246 add missing alter_table command
  backend/reef/hasura/migrations/default/1674661078668_alter_table_auth_mad_feed_posts_add_column_test/down.sql
  backend/reef/hasura/migrations/default/1674661078668_alter_table_auth_mad_feed_posts_add_column_test/up.sql
Labels: backend

#2253 Revert reverted permissions
  backend/reef/hasura/metadata/databases/default/tables/auth_mad_feed_posts.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_mad_feed_post_vote_sums.yaml
  backend/reef/hasura/metadata/databases/default/tables/public_mad_feed_user_score_totals.yaml
Labels: backend

#2252 cold setting
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveTransaction.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/WalletDetail.tsx
  packages/app-extension/src/components/common/WalletList.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/index.ts
  packages/background/src/backend/store/isCold.ts
  packages/background/src/frontend/server-injected.ts
  packages/background/src/frontend/server-ui.ts
  packages/background/src/types.ts
  packages/blockchains/keyring/src/blockchain.ts
  packages/blockchains/keyring/src/ledger.ts
  packages/blockchains/keyring/src/types.ts
  packages/common/src/browser/extension.ts
  packages/common/src/constants.ts
  packages/react-common/src/components/base/List.tsx
  packages/recoil/src/atoms/wallet.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/wallet.tsx
  packages/recoil/src/types.ts
  packages/themes/src/index.tsx
Labels: extension

#2262 Collectible xNFTs
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/recoil/src/atoms/solana/xnft.tsx
Labels: extension

#2256 better bottom modal
  packages/app-mobile/src/components/BottomDrawerCards.tsx
  packages/app-mobile/src/components/BottomDrawerEthereumConfirmation.tsx
  packages/app-mobile/src/components/BottomDrawerSolanaConfirmation.tsx
  packages/app-mobile/src/components/BottomSheetModal.tsx
  packages/app-mobile/src/components/TransactionData.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
Labels: mobile

#2263 adjust github actions for mobile build
  .github/actions/app-mobile-monorepo-setup/action.yml
  .github/workflows/app-mobile-build.yml
  .github/workflows/app-mobile-preview.yml
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
Labels: mobile

#2267 add swap indexing
  .gitignore
  backend/workers/jupiter-proxy/package.json
  backend/workers/jupiter-proxy/src/feeAccounts.json
  backend/workers/jupiter-proxy/src/index.ts
  backend/workers/jupiter-proxy/wrangler.toml
  packages/recoil/src/atoms/solana/jupiter.tsx
  packages/recoil/src/context/Swap.tsx
  turbo.json
  yarn.lock
Labels: backend

#2272 adds debug info
  .github/actions/app-mobile-monorepo-setup/action.yml
  .github/workflows/app-mobile-build.yml
  .github/workflows/app-mobile-preview.yml
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
Labels: mobile

#2280 add dropzone backend methods and db table
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/metadata/databases/default/tables/dropzone_distributors.yaml
  backend/reef/hasura/metadata/databases/default/tables/tables.yaml
  backend/reef/hasura/migrations/default/1674834108572_create_schema_dropzone/down.sql
  backend/reef/hasura/migrations/default/1674834108572_create_schema_dropzone/up.sql
  backend/reef/hasura/migrations/default/1674834108573_create_table_dropzone_distributors/down.sql
  backend/reef/hasura/migrations/default/1674834108573_create_table_dropzone_distributors/up.sql
  yarn.lock
Labels: backend

#2290 add users.dropzone_public_key helper to hasura
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/metadata/databases/databases.yaml
  backend/reef/hasura/metadata/databases/default/functions/dropzone_user_dropzone_public_key.yaml
  backend/reef/hasura/metadata/databases/default/functions/functions.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  backend/reef/hasura/migrations/default/1674856382237_add_user_dropzone_public_key_function/down.sql
  backend/reef/hasura/migrations/default/1674856382237_add_user_dropzone_public_key_function/up.sql
Labels: backend

#2291 makes readme changes
  packages/app-mobile/README.md
Labels: mobile

#2300 dropzone updates
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/metadata/databases/default/tables/dropzone_distributors.yaml
  backend/reef/hasura/migrations/default/1674937921205_alter_table_dropzone_distributors_add_column_mint/down.sql
  backend/reef/hasura/migrations/default/1674937921205_alter_table_dropzone_distributors_add_column_mint/up.sql
Labels: backend

#2301 more dropzone api updates
  backend/native/backpack-api/src/routes/v1/dropzone.ts
Labels: backend

#2274 fix flash on load
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/components/Unlocked/WithSyncAccount.tsx
Labels: extension

#2339 cold rejections for xnfts
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveTransaction.tsx
  packages/app-extension/src/components/Unlocked/ApproveTransactionRequest.tsx
  packages/background/src/frontend/server-injected.ts
  packages/common/src/browser/extension.ts
  packages/common/src/constants.ts
Labels: extension

#2338 Various design polish fixes
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/chat-sdk/src/components/MediaContent.tsx
  packages/chat-sdk/src/components/Message.tsx
  packages/message-sdk/src/components/MessageList.tsx
  packages/message-sdk/src/components/ProfileScreen.tsx
  packages/message-sdk/src/components/styles.tsx
  packages/react-common/src/components/Icon/index.tsx
Labels: extension

#2340 fix wallet connect when locked flows
  packages/app-extension/src/app/Router.tsx
  packages/background/src/frontend/server-injected.ts
  packages/common/src/browser/extension.ts
  packages/common/src/constants.ts
Labels: extension

#2345 Various message page design fixes
  packages/app-extension/src/components/Unlocked/Messages/SearchBox.tsx
  packages/app-extension/src/components/common/Layout/Nav.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/chat-sdk/src/components/ChatRoom.tsx
  packages/chat-sdk/src/components/SendMessage.tsx
  packages/message-sdk/src/components/MessageList.tsx
  packages/themes/src/index.tsx
Labels: extension

#2351 latest version screen
  .github/workflows/pull_requests_and_merges.yml
  backend/workers/version/package.json
  backend/workers/version/src/index.ts
  backend/workers/version/tsconfig.json
  backend/workers/version/wrangler.toml
  packages/app-extension/src/components/Unlocked/WithVersion.tsx
  packages/app-extension/src/components/Unlocked/index.tsx
  packages/common/scripts/config.sh
Labels: extension, backend

#2285 Various fixes & deeplink plumbing
  backend/reef/hasura/metadata/databases/default/tables/auth_twitter_users.yaml
  examples/clients/simple/src/solana/OpenXnftButton.tsx
  package.json
  packages/app-extension/src/components/Unlocked/Apps/Plugin.tsx
  packages/app-extension/src/components/Unlocked/Apps/Simulator.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/components/common/Layout/XnftAppStack.tsx
  packages/app-extension/src/plugin/Renderer.tsx
  packages/app-mobile/src/hooks/useIsONELive.tsx
  packages/common/src/plugin.ts
  packages/provider-core/src/provider-solana.ts
  packages/react-xnft-dom-renderer/src/Component.tsx
  packages/recoil/src/context/Swap.tsx
  yarn.lock
Labels: extension, mobile, backend

#2373 adjust friend request notifications linking and actions
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
  packages/app-extension/src/components/Unlocked/Messages/Contacts.tsx
  packages/app-extension/src/components/Unlocked/Messages/Requests.tsx
  packages/message-sdk/src/components/UserList.tsx
  packages/message-sdk/src/components/styles.tsx
Labels: extension
