Repository coral-xyz/backpack, pull requests merged in 2023-06, with the labels that each got.

#4103 gql: adjust token list entry schema and query filters
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/tokens.ts
  backend/native/backpack-api/src/routes/graphql/tokens/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/tokens/index.ts
  backend/native/backpack-api/src/routes/graphql/tokens/solana.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#4104 gql: move market data token metadata into token entry list field
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/tokens.ts
  backend/native/backpack-api/src/routes/graphql/tokens/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/tokens/solana.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#4117 hide ResizeObserver error overlay in dev
  packages/app-extension/package.json
  packages/app-extension/webpack.config.js
  yarn.lock
Labels: extension

#4129 fix ProxyImage.native
  packages/app-mobile/src/components/NFTCard.tsx
  packages/app-mobile/src/components/TokenAmountHeader.tsx
  packages/app-mobile/src/screens/CollectionDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionItemDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionListScreen.tsx
  packages/app-mobile/src/screens/TokenPriceDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/tamagui-core/src/components/ProxyImage.native.tsx
Labels: mobile

#4130 approve transacation bottom sheet
  packages/app-mobile/src/components/index.tsx
  packages/tamagui-core/src/components/ApproveTransactionBottomSheet.tsx
  packages/tamagui-core/src/components/TwoButtonFooter.tsx
  packages/tamagui-core/src/components/index.tsx
Labels: mobile

#4128 private key input to unblock app testing
  packages/app-extension/src/components/common/Account/PrivateKeyInput.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/recoil/src/context/OnboardingProvider.tsx
  packages/recoil/src/hooks/index.tsx
  packages/recoil/src/hooks/useSavePrivateKey.tsx
Labels: extension, mobile

#4135 auth fixes, graphql migration, navigator updates
  packages/app-mobile/eas.json
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/components/CollectionAttributesList.tsx
  packages/app-mobile/src/components/CollectionListItem.tsx
  packages/app-mobile/src/graphql/apollo.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/navigation/types.ts
  packages/app-mobile/src/screens/CollectionDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionItemDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionListScreen.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/TokenListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  packages/recoil/src/context/OnboardingProvider.tsx
  packages/recoil/src/hooks/useAuthentication.tsx
  packages/recoil/src/hooks/useRpcRequests.tsx
  packages/tamagui-core/package.json
  packages/tamagui-core/src/components/ProxyImage.native.tsx
  yarn.lock
Labels: mobile

#3979 fix checking versioned transaction status
  packages/app-extension/src/components/Unlocked/Nfts/NftDetail.tsx
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/Detail.tsx
  packages/background/src/backend/solana-connection.ts
  packages/background/src/frontend/solana-connection.ts
  packages/chat-sdk/src/components/SimpleTransaction.tsx
  packages/common/src/solana/background-connection.ts
  packages/recoil/src/hooks/solana/useSolanaTransaction.tsx
Labels: extension, backend

#4116 make send input validation stricter
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
Labels: extension

#4138 mobile adjustments
  packages/app-mobile/app.config.ts
  packages/app-mobile/eas.json
  packages/app-mobile/package.json
  packages/app-mobile/src/components/BottomSheetViewOptions.tsx
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/WalletSwitcherButton.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/navigation/components.tsx
  packages/app-mobile/src/navigation/types.ts
  packages/app-mobile/src/screens/CollectionListScreen.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/RecentActivityScreen.tsx
  packages/tamagui-core/src/components/BottomSheet.tsx
  packages/tamagui-core/src/components/index.tsx
Labels: mobile

#4141 face id + onboarding updates
  packages/app-mobile/app.config.ts
  packages/app-mobile/metro.config.js
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/Providers.tsx
  packages/app-mobile/src/components/AccountSettingsBottomSheet.tsx
  packages/app-mobile/src/components/MnemonicInputFields.tsx
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/features/biometrics/context.tsx
  packages/app-mobile/src/features/biometrics/hooks.tsx
  packages/app-mobile/src/features/biometrics/index.ts
  packages/app-mobile/src/features/biometrics/types.ts
  packages/app-mobile/src/features/biometrics/useBiometricCheck.tsx
  packages/app-mobile/src/hooks/useAppStateTrigger.ts
  packages/app-mobile/src/hooks/useAsyncData.tsx
  packages/app-mobile/src/lib/SessionProvider.tsx
  packages/app-mobile/src/lib/linking.ts
  packages/app-mobile/src/lib/splashScreen.ts
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/package.json
  packages/app-mobile/src/screens/Unlocked/Settings/PreferencesScreen.tsx
  packages/app-mobile/tsconfig.json
Labels: mobile

#4145 ux updates
  packages/app-mobile/eas.json
  packages/app-mobile/package.json
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/UserAvatar.tsx
  packages/app-mobile/src/navigation/FriendsNavigator.tsx
  packages/app-mobile/src/navigation/GlobalDrawerContent.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/screens/CollectionDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionListScreen.tsx
  packages/app-mobile/src/screens/FriendListScreen.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/NotificationsScreen.tsx
  packages/app-mobile/src/screens/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/TokenListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
  packages/tamagui-core/src/components/Button.tsx
  packages/tamagui-core/src/tokens.ts
  yarn.lock
Labels: mobile

#4153 staked label
  packages/app-extension/src/components/Unlocked/Nfts/NftEntry.tsx
  packages/recoil/package.json
  packages/recoil/src/atoms/solana/index.tsx
  packages/recoil/src/atoms/solana/mad-lads.tsx
  yarn.lock
Labels: extension

#4148 ux, graphql
  backend/native/backpack-api/.prettierignore
  packages/app-mobile/.gitignore
  packages/app-mobile/.prettierignore
  packages/app-mobile/app.config.ts
  packages/app-mobile/assets/app-logo-development.png
  packages/app-mobile/assets/app-logo-production.png
  packages/app-mobile/assets/app-logo-staging.png
  packages/app-mobile/assets/splash-development.png
  packages/app-mobile/assets/splash-production.png
  packages/app-mobile/assets/splash-staging.png
  packages/app-mobile/codegen.yml
  packages/app-mobile/package.json
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/graphql/fragments.ts
  packages/app-mobile/src/graphql/package.json
  packages/app-mobile/src/lib/CollectionUtils.ts
  packages/app-mobile/src/lib/SessionProvider.tsx
  packages/app-mobile/src/lib/WalletUtils.ts
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/FriendsNavigator.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/SendNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/navigation/components.tsx
  packages/app-mobile/src/screens/CollectionDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionItemDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionListScreen.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/TokenListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/PreferencesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ProfileScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  yarn.lock
Labels: mobile, backend

#4158 add about backpack page to mobile app
  packages/app-mobile/src/components/AccountSettingsBottomSheet.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AboutBackpackScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsList.tsx
  packages/tamagui-core/src/components/ListItem.tsx
Labels: mobile

#4160 swap
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/app-mobile/package.json
  packages/app-mobile/src/components/BottomSheetModal.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/RecentActivityList.tsx
  packages/app-mobile/src/components/TokenInputField.tsx
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/lib/CurrencyUtils.ts
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/screens/TokenDetailScreen.tsx
  packages/app-mobile/src/screens/TokenListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SwapTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/app-mobile/src/types/types.ts
  packages/eslint-config-custom/shared/react.js
  packages/recoil/src/atoms/balance.tsx
  packages/recoil/src/context/Swap.tsx
  yarn.lock
Labels: extension, mobile

#4161 remove unused mobile settings
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/PreferencesScreen.tsx
Labels: mobile

#4163 remove gear icon from mobile side drawer
  packages/app-mobile/src/navigation/GlobalDrawerContent.tsx
Labels: mobile

#4176 swap updates
  backend/workers/jupiter-proxy/src/index.ts
  packages/recoil/src/context/Swap.tsx
Labels: backend

#4165 add XRAY to mobile solana explorers
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
Labels: mobile

#4162 tweak mobile nav bar titles
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
Labels: mobile

#4164 fix resetting mobile app data from settings
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/screens/ResetWarningScreen.tsx
  packages/app-mobile/src/screens/Unlocked/YourAccountScreen.tsx
Labels: mobile

#4178 hide checkmark in mobile wallets settings
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
Labels: mobile

#4182 visual adjustments
  packages/app-mobile/app.config.ts
  packages/app-mobile/eas.json
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/components/LoadingStates.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/screens/BrowserScreen.tsx
  packages/app-mobile/src/screens/CollectionDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionItemDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionListScreen.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/TokenListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SwapTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  packages/tamagui-core/src/tokens.ts
  yarn.lock
Labels: mobile

#4184 move setActiveWallet into SessionProvider so it doesnt take so long
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/WalletSwitcherButton.tsx
  packages/app-mobile/src/hooks/wallets.tsx
  packages/app-mobile/src/lib/SessionProvider.tsx
  packages/app-mobile/src/lib/WalletUtils.ts
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AddConnectWalletScreen.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/app-mobile/src/types/types.ts
Labels: mobile

#4185 ux + ui nav flow fixes
  packages/app-mobile/src/components/BottomDrawerCards.tsx
  packages/app-mobile/src/components/BottomDrawerSolanaConfirmation.tsx
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/TokenAmountHeader.tsx
  packages/app-mobile/src/components/WalletSwitcherButton.tsx
  packages/app-mobile/src/components/index.tsx
Labels: mobile

#4188 coingecko price indexing worker
  backend/workers/price-indexer/.eslintrc.cjs
  backend/workers/price-indexer/package.json
  backend/workers/price-indexer/src/fetched.ts
  backend/workers/price-indexer/src/index.ts
  backend/workers/price-indexer/src/scheduled.ts
  backend/workers/price-indexer/src/types.ts
  backend/workers/price-indexer/tsconfig.json
  backend/workers/price-indexer/wrangler.toml
  yarn.lock
Labels: backend

#4191 fix cicd installs
  backend/native/backpack-api/package.json
  backend/workers/price-indexer/package.json
  yarn.lock
Labels: backend

#4192 fix wallet picker regressions and remove on select
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
Labels: mobile

#4193 update price indexer worker and migrate gql to use it over cg
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/graphql/clients/coingecko.ts
  backend/native/backpack-api/src/routes/graphql/clients/index.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/workers/price-indexer/src/fetched.ts
  backend/workers/price-indexer/src/scheduled.ts
  backend/workers/price-indexer/wrangler.toml
Labels: backend

#4195 ux / nav improvements
  packages/app-mobile/src/components/CollectionAttributesList.tsx
  packages/app-mobile/src/components/CollectionListItem.tsx
  packages/app-mobile/src/components/Unlocked/Nfts/Common.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/screens/CollectionDetailScreen.tsx
  packages/app-mobile/src/screens/CollectionItemDetailScreen.tsx
  packages/app-mobile/src/screens/TokenDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftDetailScreen.tsx
  packages/app-mobile/src/screens/WalletsV2NftListScreen.tsx
Labels: mobile

#4194 show wallet name when sending NFTs to self in app
  packages/app-mobile/src/components/BottomDrawerSolanaConfirmation.tsx
Labels: mobile

#4197 gql: add lru cache to token prices and fix indexer error response
  backend/native/backpack-api/src/routes/graphql/clients/coingecko.ts
  backend/native/backpack-api/src/routes/graphql/clients/helius.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/workers/price-indexer/src/fetched.ts
Labels: backend

#4204 fix active user update on mobile
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/lib/SessionProvider.tsx
  packages/app-mobile/src/screens/TestAccountAuthScreen.tsx
  packages/background/src/backend/core.ts
Labels: mobile

#4207 gql: add all wallet aggregate data
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/routes/graphql/clients/swr.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/native/backpack-api/src/routes/graphql/nodes.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/user.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
  packages/data-components/src/apollo/graphql.ts
  yarn.lock
Labels: backend

#4205 fix account swsitching
  packages/app-mobile/app.config.ts
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/UserAccountsMenu.tsx
  packages/app-mobile/src/components/UserAvatar.tsx
  packages/app-mobile/src/lib/SessionProvider.tsx
  packages/app-mobile/src/navigation/GlobalDrawerContent.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/RNDrawerContentView.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/common/src/browser/mobile.ts
  packages/recoil/src/context/OnboardingProvider.tsx
Labels: mobile

#4208 gql: rpc fallback for solana data provider
  backend/native/backpack-api/src/routes/graphql/clients/hasura.ts
  backend/native/backpack-api/src/routes/graphql/nodes.ts
  backend/native/backpack-api/src/routes/graphql/providers/bitcoin.ts
  backend/native/backpack-api/src/routes/graphql/providers/solana.ts
  backend/native/backpack-api/src/routes/graphql/providers/solana/index.ts
  backend/native/backpack-api/src/routes/graphql/providers/solana/rpc.ts
  backend/native/backpack-api/src/routes/graphql/providers/util.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/user.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/routes/graphql/utils.ts
  backend/native/backpack-api/src/schema.graphql
  packages/data-components/src/apollo/graphql.ts
Labels: backend

#4209 friends list updates
  packages/app-mobile/src/components/PasswordInput.tsx
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/graphql/fragments.ts
  packages/app-mobile/src/navigation/FriendsNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/screens/FriendDetailScreen.tsx
  packages/app-mobile/src/screens/FriendListScreen.tsx
Labels: mobile

#4210 various ux
  packages/app-mobile/src/components/BottomSheetWalletPicker.tsx
  packages/app-mobile/src/screens/FriendListScreen.tsx
Labels: mobile

#4211 async storage over securestorage
  packages/app-mobile/package.json
  packages/app-mobile/src/lib/SessionProvider.tsx
  packages/common/package.json
  packages/common/src/browser/AsyncStorage.native.ts
  packages/common/src/browser/AsyncStorage.ts
  packages/common/src/browser/mobile.ts
  packages/common/src/fake-expo-secure-store.ts
  packages/common/tsconfig.json
  packages/common/tsconfig.prod.json
  yarn.lock
Labels: mobile

#4224 gql: solana rpc fallback implementation updates
  backend/native/backpack-api/src/routes/graphql/clients/hasura.ts
  backend/native/backpack-api/src/routes/graphql/providers/bitcoin.ts
  backend/native/backpack-api/src/routes/graphql/providers/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/providers/index.ts
  backend/native/backpack-api/src/routes/graphql/providers/solana/index.ts
  backend/native/backpack-api/src/routes/graphql/providers/solana/rpc.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/tokens.ts
  backend/native/backpack-api/src/routes/graphql/utils.ts
  yarn.lock
Labels: backend

#4227 unifying input fields
  packages/app-mobile/eas.json
  packages/app-mobile/package.json
  packages/app-mobile/src/components/ErrorMessage.tsx
  packages/app-mobile/src/components/Form.tsx
  packages/app-mobile/src/components/PasswordInput.tsx
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  yarn.lock
Labels: mobile

#4231 gql: basic eclipse provider addition and require provider ids for all wallet queries
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/graphql/clients/hasura.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/native/backpack-api/src/routes/graphql/providers/bitcoin.ts
  backend/native/backpack-api/src/routes/graphql/providers/eclipse.ts
  backend/native/backpack-api/src/routes/graphql/providers/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/providers/index.ts
  backend/native/backpack-api/src/routes/graphql/providers/solana/index.ts
  backend/native/backpack-api/src/routes/graphql/providers/solana/rpc.ts
  backend/native/backpack-api/src/routes/graphql/resolvers/query/user.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/routes/graphql/utils.ts
  backend/native/backpack-api/src/schema.graphql
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  packages/common/src/tokens/eclipse.ts
  packages/common/src/tokens/ethereum.ts
  packages/common/src/tokens/index.ts
  packages/common/src/tokens/solana.ts
  packages/common/src/tokens/types.ts
  packages/data-components/src/apollo/gql.ts
  packages/data-components/src/apollo/graphql.ts
  packages/data-components/src/components/Balances/BalanceSummary.tsx
  packages/data-components/src/components/Balances/BalancesTable/index.tsx
  packages/data-components/src/components/TransactionHistory/index.tsx
Labels: mobile, backend

#4230 misc updates
  packages/app-mobile/package.json
  packages/app-mobile/src/components/AccountSettingsBottomSheet.tsx
  packages/app-mobile/src/components/Form.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/MnemonicInputFields.tsx
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/features/warning/index.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/navigation/components.tsx
  packages/app-mobile/src/screens/ResetWarningScreen.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/EditWalletsScreen.tsx
  packages/app-mobile/src/screens/Unlocked/RenameWalletScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AboutBackpackScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/PreferencesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsMenuList.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsRow.tsx
  packages/app-mobile/src/screens/Unlocked/ShowPrivateKeyScreen.tsx
  packages/app-mobile/src/screens/Unlocked/ShowRecoveryPhraseScreen.tsx
  packages/tamagui-core/src/components/ListItem.tsx
  packages/tamagui-core/src/components/RoundedContainerGroup.tsx
  packages/tamagui-core/src/tokens.ts
  yarn.lock
Labels: mobile

#4239 add/connect wallet flow
  packages/app-mobile/src/Images.ts
  packages/app-mobile/src/components/MnemonicInput.tsx
  packages/app-mobile/src/components/MnemonicInputFields.tsx
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/screens/ImportPrivateKeyScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AddConnectWalletScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/PreferencesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsMenuList.tsx
  packages/app-mobile/src/screens/Unlocked/YourAccountScreen.tsx
  packages/tamagui-core/src/components/ListItem.tsx
Labels: mobile

#4243 various stylistic adjustments
  packages/app-mobile/src/Images.ts
  packages/app-mobile/src/components/BottomSheetViewOptions.tsx
  packages/app-mobile/src/components/UserAvatar.tsx
  packages/app-mobile/src/components/WalletSwitcherButton.tsx
  packages/app-mobile/src/images/logo-ethereum-wallet-list.png
  packages/app-mobile/src/images/logo-solana-wallet-list.png
  packages/app-mobile/src/navigation/GlobalDrawerContent.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/WalletsNavigator.tsx
  packages/app-mobile/src/navigation/components.tsx
  packages/app-mobile/src/screens/HomeWalletListScreen.tsx
  packages/tamagui-core/src/components/BlockchainLogo.tsx
Labels: mobile

#4225 gql: collectibles migration to `data-components`
  backend/workers/feature-gates/src/FEATURES.ts
  packages/app-extension/package.json
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/common/package.json
  packages/common/src/feature-gates.ts
  packages/data-components/package.json
  packages/data-components/src/apollo/gql.ts
  packages/data-components/src/apollo/graphql.ts
  packages/data-components/src/components/Collectibles/CollectibleCard.tsx
  packages/data-components/src/components/Collectibles/CollectibleList.tsx
  packages/data-components/src/components/Collectibles/index.tsx
  packages/data-components/src/components/Collectibles/utils.ts
  packages/data-components/src/components/Notifications/NotificationList.tsx
  packages/data-components/src/components/Notifications/NotificationListItem.tsx
  packages/data-components/src/components/Notifications/index.tsx
  packages/data-components/src/components/Notifications/utils.ts
  packages/data-components/src/components/TransactionHistory/TransactionDetails/TransactionDetailsTable.tsx
  packages/data-components/src/components/TransactionHistory/TransactionDetails/index.tsx
  packages/data-components/src/components/TransactionHistory/TransactionList.tsx
  packages/data-components/src/components/TransactionHistory/TransactionListItem.tsx
  packages/data-components/src/components/TransactionHistory/TransactionListItemIcon.tsx
  packages/data-components/src/components/TransactionHistory/index.tsx
  packages/data-components/src/components/TransactionHistory/parsing.tsx
  packages/data-components/src/components/TransactionHistory/utils.ts
  packages/data-components/src/index.ts
  packages/tamagui-core/package.json
  packages/tamagui-core/src/index.tsx
  packages/tamagui-core/src/tamagui.config.ts
  yarn.lock
Labels: extension, backend

#4247 updates to POST /users
  backend/native/backpack-api/src/routes/v1/users.ts
Labels: backend

#4249 gql: ordinals data feed for btc wallets
  .github/workflows/backend-api.yml
  backend/native/backpack-api/.env.sample
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/config.ts
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/graphql/clients/helius.ts
  backend/native/backpack-api/src/routes/graphql/clients/index.ts
  backend/native/backpack-api/src/routes/graphql/clients/magiceden.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/native/backpack-api/src/routes/graphql/nodes.ts
  backend/native/backpack-api/src/routes/graphql/providers/bitcoin.ts
  backend/native/backpack-api/src/routes/graphql/providers/solana/index.ts
  backend/native/backpack-api/src/routes/graphql/providers/solana/rpc.ts
  backend/native/backpack-api/src/routes/v1/twitter.ts
  yarn.lock
Labels: backend

#4250 remove commas from mobile exported mnemonic
  packages/app-mobile/src/components/MnemonicInput.tsx
Labels: mobile
