Repository coral-xyz/backpack, pull requests merged in 2023-03, with the labels that each got.

#3061 Remove twitter user restrictions
  backend/reef/hasura/migrations/default/1677623768540_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_id_key/down.sql
  backend/reef/hasura/migrations/default/1677623768540_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_id_key/up.sql
  backend/reef/hasura/migrations/default/1677623775206_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_username_key/down.sql
  backend/reef/hasura/migrations/default/1677623775206_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_username_key/up.sql
  backend/reef/hasura/migrations/default/1677623781396_drop_index_twitter_users_twitter_id_key/down.sql
  backend/reef/hasura/migrations/default/1677623781396_drop_index_twitter_users_twitter_id_key/up.sql
  backend/reef/hasura/migrations/default/1677623781397_drop_index_twitter_users_twitter_username_key/down.sql
  backend/reef/hasura/migrations/default/1677623781397_drop_index_twitter_users_twitter_username_key/up.sql
Labels: backend

#3070 reverts hot module replacement of chrome extension bc it breaks mobile app
  backend/native/backpack-api/src/auth/middleware.ts
  backend/native/notifications-worker/src/processors.ts
  package.json
  packages/app-extension/src/components/Unlocked/Nfts/Common.tsx
  packages/app-extension/src/components/Unlocked/PrimaryPubkeySelector.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/AutoLock.tsx
  packages/app-extension/src/index.tsx
  packages/app-extension/webpack.config.js
  packages/app-extension/webpack.dev.config.js
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/background-injection/.eslintrc.js
  packages/background-injection/.gitignore
  packages/background-injection/package.json
  packages/background-injection/src/index.tsx
  packages/background-injection/tsconfig.json
  packages/background-injection/webpack.config.js
  packages/background/package.json
  packages/common-mobile/.eslintrc.js
  packages/common-mobile/.gitignore
  packages/common-mobile/jest.config.js
  packages/common-mobile/package.json
  packages/common-mobile/src/index.ts
  packages/common-mobile/tsconfig.json
  packages/common-mobile/tsconfig.prod.json
  packages/common-mobile/tsconfig.rn.json
  packages/common/package.json
  packages/common/src/browser/index.ts
  packages/common/src/browser/mobile.ts
  packages/common/src/index.ts
  packages/common/src/logging.ts
  packages/common/src/zustand-store.ts
  yarn.lock
Labels: extension, mobile, backend

#2936 Update xnft-cli to support new manifest.splash format
  packages/xnft-cli/new/getXnftWithGlobs.js
Labels: xnft

#3072 expo upgrades
  packages/app-mobile/app.config.js
  packages/app-mobile/eas.json
  packages/app-mobile/package.json
  packages/app-mobile/patches/expo+48.0.4.patch
  packages/app-mobile/patches/react-native+0.70.5.patch
  packages/app-mobile/src/components/CustomButton.tsx
  packages/app-mobile/src/components/ErrorMessage.tsx
  packages/app-mobile/src/components/Templates.tsx
  packages/app-mobile/src/components/TextInput.tsx
  packages/app-mobile/src/screens/Helpers/ToggleConnection.tsx
  packages/app-mobile/src/screens/NeedsOnboarding/CreateWallet/index.tsx
  packages/app-mobile/src/screens/NeedsOnboarding/index.tsx
  yarn.lock
Labels: mobile

#3084 updates background url script and expo
  packages/app-mobile/app.config.js
  yarn.lock
Labels: mobile

#3096 add sort on balances to import wallets
  packages/app-extension/src/components/common/Account/ImportWallets.tsx
Labels: extension

#3107 make the messages chat button text non-selectable & clickable
  packages/app-extension/src/components/common/Layout/Nav.tsx
Labels: extension

#3110 Change zIndexes for madlist banner + add check for AuthenticatedUser in isLive check
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/recoil/src/atoms/solana/isONELive.tsx
Labels: extension

#3112 sort swap output tokens by their popularity on jupiter
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/recoil/src/atoms/solana/jupiter.tsx
  packages/recoil/src/context/Swap.tsx
Labels: extension

#3088 update swap ui to handle fees when they're enabled
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/recoil/src/context/Swap.tsx
Labels: extension

#3113 adds crypto shim for ios/android
  packages/app-mobile/app.config.js
  packages/app-mobile/eas.json
  packages/app-mobile/index.js
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/crypto-shim.ts
  yarn.lock
Labels: mobile

#3133 disable recover username button if no username
  packages/app-extension/src/components/Onboarding/pages/RecoverAccountUsernameForm.tsx
Labels: extension

#3128 various mobile onboarding fixes
  packages/app-mobile/src/components/ActionCard.tsx
  packages/app-mobile/src/components/KeyboardAwareAnimatedScrollView.tsx
  packages/app-mobile/src/components/MnemonicInputFields.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/lib/index.ts
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
Labels: mobile

#3145 remove space between swap amount and sign to prevent wrapping
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/Icons.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/ListItem.tsx
Labels: extension

#3156 only recovery with primary only
  backend/native/backpack-api/src/routes/v1/users.ts
Labels: backend

#3163 add max height and scroll overflow to tx data
  packages/app-extension/src/components/Unlocked/Approvals/ApproveTransaction.tsx
  packages/app-extension/src/components/common/Settings/List.tsx
  packages/app-extension/src/components/common/TransactionData.tsx
Labels: extension

#3192 make import wallet selector scrollable
  packages/app-extension/src/components/common/Account/ImportWallets.tsx
Labels: extension

#3191 Update Banner
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/recoil/src/atoms/solana/isONELive.tsx
Labels: extension

#3147 onboarding recover flow stuff
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/eslint-config-custom/native.js
  packages/eslint-config-custom/shared/backpack.js
Labels: mobile

#3180 react native core wip
  docker/notifications-worker/docker-compose.yml
  docker/xnft-api-server/docker-compose.yml
  packages/app-extension/package.json
  packages/app-extension/src/components/Onboarding/pages/CreateOrImportWallet.tsx
  packages/app-extension/webpack.config.js
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/SwapInfo.tsx
  packages/app-mobile/src/components/index.tsx
  packages/react-common/package.json
  packages/react-native-core/.eslintrc.js
  packages/react-native-core/.gitignore
  packages/react-native-core/README.md
  packages/react-native-core/babel.config.js
  packages/react-native-core/package.json
  packages/react-native-core/src/components/index.tsx
  packages/react-native-core/src/hooks/index.tsx
  packages/react-native-core/src/hooks/useTheme.native.tsx
  packages/react-native-core/src/hooks/useTheme.web.tsx
  packages/react-native-core/src/index.tsx
  packages/react-native-core/tsconfig.json
  packages/themes/src/renderer.ts
  yarn.lock
Labels: extension, mobile

#3196 show usernames in send confirmation drawer
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Ethereum/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Solana/index.tsx
  packages/app-extension/src/components/common/CopyablePublicKey.tsx
  packages/app-extension/src/components/common/TransactionData.tsx
Labels: extension

#3213 adjust sizing for unread vs read message bubble icon
  packages/app-extension/src/components/common/Layout/Tab.tsx
Labels: extension

#3216 fix dates in ethereum recent activity
  packages/app-extension/src/components/Unlocked/Balances/RecentActivity.tsx
Labels: extension

#3218 restrict api query user by public key to primary only
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/routes/v1/nft.ts
  backend/native/backpack-api/src/routes/v1/users.ts
Labels: backend

#3221 fix ui issue when sending to .sol domains
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
Labels: extension

#3228 package maintenance
  backend/native/zeus/package.json
  packages/common/package.json
  packages/themes/package.json
  yarn.lock
Labels: backend

#3242 fix auth worker error responses
  backend/workers/auth/src/index.ts
Labels: backend

#3214 close any existing backpack windows when opening a new one
  packages/app-extension/src/index.tsx
Labels: enhancement, extension

#3241 xnft gateway fix to resolve relative files when entrypoint points to file (index.html)
  backend/workers/xnft-gateway/src/index.ts
Labels: backend

#3243 fix public key conflict endpoint
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/routes/v1/nft.ts
  backend/native/backpack-api/src/routes/v1/public-keys.ts
  backend/native/backpack-api/src/routes/v1/users.ts
Labels: backend

#3235 tamagui across extension and mobile
  .gitignore
  package.json
  packages/app-extension/package.json
  packages/app-extension/src/app/App.tsx
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/CreateOrImportWallet.tsx
  packages/app-extension/src/components/Unlocked/AuthenticatedSync.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/common/WithTheme.tsx
  packages/app-extension/tamagui.config.ts
  packages/app-extension/webpack.config.js
  packages/app-extension/webpack.dev.config.js
  packages/app-mobile/babel.config.js
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/hooks/useTheme.tsx
  packages/app-mobile/src/lib/helpers.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/tamagui.config.ts
  packages/chat-sdk/src/components/Message.tsx
  packages/chat-sdk/src/components/NftStickerRender.tsx
  packages/react-native-core/.eslintrc.js
  packages/react-native-core/.gitignore
  packages/react-native-core/README.md
  packages/react-native-core/babel.config.js
  packages/react-native-core/package.json
  packages/react-native-core/src/hooks/index.tsx
  packages/react-native-core/src/hooks/useTheme.native.tsx
  packages/react-native-core/src/index.tsx
  packages/react-native-core/tsconfig.json
  packages/recoil/src/atoms/notifications.ts
  packages/tamagui-core/.gitignore
  packages/tamagui-core/package.json
  packages/tamagui-core/src/animations.ts
  packages/tamagui-core/src/components/index.tsx
  packages/tamagui-core/src/hooks/index.tsx
  packages/tamagui-core/src/hooks/useTheme.native.tsx
  packages/tamagui-core/src/hooks/useTheme.web.tsx
  packages/tamagui-core/src/index.tsx
  packages/tamagui-core/src/screens/index.tsx
  packages/tamagui-core/src/tamagui.config.ts
  packages/tamagui-core/src/theme.ts
  packages/tamagui-core/tsconfig.eslint.json
  packages/tamagui-core/tsconfig.json
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Labels: extension, mobile

#3224 allow mnemonic creation for accounts onboarded with ledger
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/SettingsNavStackDrawer.tsx
  packages/app-extension/src/components/common/Account/MnemonicInput.tsx
  packages/app-extension/src/components/common/Layout/Drawer.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/app-extension/src/components/common/WalletList.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/frontend/server-ui.ts
  packages/blockchains/keyring/src/blockchain.ts
  packages/common/src/constants.ts
  packages/recoil/src/atoms/keyring.tsx
  packages/recoil/src/context/Notifications.tsx
Labels: extension

#3270 handle public key creation on accounts with a notification
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMenu.tsx
  packages/recoil/src/context/Notifications.tsx
Labels: extension

#3272 add ascii logo and warning to console on load
  packages/app-extension/src/app/App.tsx
Labels: extension

#3273 remove unused css classes
  packages/app-extension/src/components/Unlocked/Approvals/ApproveMessage.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveTransaction.tsx
  packages/app-extension/src/components/Unlocked/ApproveTransactionRequest.tsx
  packages/app-extension/src/components/Unlocked/Balances/BalanceSummaryWidget.tsx
  packages/app-extension/src/components/Unlocked/Balances/Balances.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentActivity.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Deposit.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/index.tsx
  packages/app-extension/src/components/common/ApproveTransactionDrawer.tsx
  packages/app-extension/src/components/common/Layout/Drawer.tsx
  packages/app-extension/src/components/common/Layout/Tab.tsx
  packages/app-extension/src/components/common/TransactionData.tsx
  packages/app-extension/src/components/common/WalletList.tsx
  packages/app-extension/src/components/common/index.tsx
  packages/app-mobile/src/hooks/index.ts
  packages/app-mobile/src/screens/Unlocked/DepositScreen.tsx
  packages/app-mobile/src/screens/Unlocked/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/PreferencesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/index.tsx
  packages/eslint-config-custom/package.json
  packages/recoil/src/hooks/useBlockchain.tsx
  yarn.lock
Labels: extension, mobile

#3244 include fee if creating a token account during swap
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/common/src/constants.ts
  packages/common/src/solana/index.ts
  packages/recoil/src/context/Swap.tsx
Labels: extension

#3295 grant one-xnft read permissions to pubkeys
  backend/reef/hasura/metadata/databases/default/tables/auth_public_keys.yaml
Labels: backend

#3316 add index to public_keys.user_id
  backend/reef/hasura/migrations/default/1678649211108_create_index_public_keys_user_id_idx/down.sql
  backend/reef/hasura/migrations/default/1678649211108_create_index_public_keys_user_id_idx/up.sql
Labels: backend

#3311 adds sentry to backpack-api and app-mobile
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/config.ts
  backend/native/backpack-api/src/index.ts
  packages/app-mobile/.env.sample
  packages/app-mobile/.gitignore
  packages/app-mobile/app.config.js
  packages/app-mobile/babel.config.js
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  yarn.lock
Labels: mobile, backend

#3307 private key only accounts
  packages/app-extension/src/components/LedgerIframe.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSearchWallet.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSign.tsx
  packages/app-extension/src/components/Onboarding/pages/KeyringTypeSelector.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportSecretKey.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/components/common/Account/CreatePassword.tsx
  packages/app-extension/src/components/common/Account/ImportWallets.tsx
  packages/app-extension/src/components/common/Account/PrivateKeyInput.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/frontend/server-ui.ts
  packages/blockchains/keyring/src/blockchain.ts
  packages/blockchains/keyring/src/ledger.ts
  packages/common/src/crypto.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/context/OnboardingProvider.tsx
  packages/recoil/src/hooks/index.tsx
  packages/recoil/src/hooks/useRpcRequests.tsx
Labels: extension

#3260 prepare mobile app for release candidate
  README.md
  packages/app-mobile/babel.config.js
  packages/app-mobile/index.js
  packages/app-mobile/package.json
  packages/app-mobile/src/components/ImageSvg.tsx
  packages/app-mobile/src/components/TokenInputField.tsx
  packages/app-mobile/src/components/TransactionData.tsx
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/DepositScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen2.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ProfileScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsList.tsx
  packages/recoil/src/context/OnboardingProvider.tsx
  packages/tamagui-core/src/components/SearchBox.tsx
  packages/tamagui-core/src/components/index.tsx
  packages/tamagui-core/src/tamagui.config.ts
  yarn.lock
Labels: extension, mobile

#3326 enable menu item for setting primary for private key imports
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/WalletDetail.tsx
Labels: extension

#3328 rc cleanup
  packages/app-mobile/src/components/NavHeader.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
Labels: mobile

#3332 npm packages cleanup
  .npmrc
  backend/native/backend-common/package.json
  package.json
  packages/app-extension/package.json
  packages/background/package.json
  packages/blockchains/keyring/package.json
  packages/common/package.json
  packages/ledger-injection/package.json
  packages/tamagui-core/package.json
  web/components/Nav.tsx
  web/components/PlaceholderApps.tsx
  web/components/Posts.tsx
  web/components/SecondaryCta.tsx
  yarn.lock
Labels: extension, backend

#3342 fix onboarding flow
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-mobile/app.config.js
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/recoil/src/context/OnboardingProvider.tsx
Labels: extension, mobile

#3341 Collectibles & xnft fixes
  packages/app-extension/src/components/Unlocked/Nfts/Cards.tsx
  packages/provider-core/src/provider-ethereum-xnft.ts
  packages/provider-core/src/provider-solana-xnft.ts
  packages/provider-core/src/root-provider-xnft.ts
Labels: extension

#3232 add some missing deps + remove unused
  backend/native/backend-common/package.json
  examples/clients/simple/package.json
  packages/blockchains/keyring/package.json
  packages/common/package.json
  packages/common/src/solana/background-connection.ts
  packages/ledger-injection/package.json
  packages/provider-core/package.json
  yarn.lock
Labels: backend

#3350 dependencies cleanup
  backend/native/backend-common/package.json
  backend/native/backend-ws/package.json
  backend/native/notifications-worker/package.json
  packages/common/package.json
  packages/db/package.json
  yarn.lock
Labels: backend

#3355 google play store adjustments
  packages/app-mobile/.gitignore
  packages/app-mobile/app.config.js
Labels: mobile

#3359 adds inter font and cleans things up
  packages/app-mobile/package.json
  packages/app-mobile/src/components/Form.tsx
  packages/app-mobile/src/hooks/useLoadedAssets.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/ForgotPasswordScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/ChangePasswordScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsMenuList.tsx
  packages/app-mobile/src/screens/Unlocked/ShowRecoveryPhraseScreen.tsx
  packages/app-mobile/src/screens/Unlocked/YourAccountScreen.tsx
  packages/tamagui-core/src/components/index.tsx
  packages/tamagui-core/src/tamagui.config.ts
  yarn.lock
Labels: mobile

#3358 use recoil state for keyring exists checks
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportSecretKey.tsx
  packages/background/src/frontend/server-ui.ts
  packages/common/src/constants.ts
Labels: extension

#3361 consolidates useIsValidAddress
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-mobile/src/hooks/index.ts
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/recoil/src/hooks/index.tsx
  packages/recoil/src/hooks/useIsValidAddress.tsx
Labels: extension, mobile

#3367 hasura sql cleanup
  backend/reef/hasura/metadata/databases/databases.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  backend/reef/hasura/migrations/default/1678913017499_drop_func/down.sql
  backend/reef/hasura/migrations/default/1678913017499_drop_func/up.sql
Labels: backend

#3376 add limit: 1 to queries expecting 0 or 1 results
  backend/native/backpack-api/src/db/users.ts
  backend/native/xnft-api-server/src/db/users.ts
Labels: backend

#3374 remove dropzone_public_key in zeus
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  backend/native/zeus/package.json
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  package.json
  yarn.lock
Labels: backend

#3365 removes tld parser since it doesn't work on mobile
  packages/app-extension/package.json
  packages/recoil/src/hooks/useIsValidAddress.tsx
  yarn.lock
Labels: extension, mobile

#3378 add operationName to some zeus queries
  backend/native/backend-ws/package.json
  backend/native/backend-ws/src/db/users.ts
  backend/native/backend-ws/tsconfig.json
  backend/native/backpack-api/src/db/users.ts
  backend/native/notifications-worker/src/db/collection_messages.ts
Labels: backend

#3384 remove hardware wallet from create wallet flow
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/SettingsNavStackDrawer.tsx
  packages/app-extension/src/components/common/WalletList.tsx
Labels: extension

#3387 import mnemonic to a previously existing keyring
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/SettingsNavStackDrawer.tsx
  packages/app-extension/src/components/common/WalletList.tsx
Labels: extension

#3395 appstore changes
  packages/app-mobile/app.config.js
  packages/app-mobile/eas.json
  packages/app-mobile/package.json
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/BottomDrawerEthereumConfirmation.tsx
  packages/app-mobile/src/components/CheckBox.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/NavHeader.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/components/Balances.tsx
  packages/recoil/package.json
  packages/recoil/src/context/OnboardingProvider.tsx
  packages/tamagui-core/src/components/Images.tsx
  packages/tamagui-core/src/components/index.tsx
  yarn.lock
Labels: mobile

#3398 more app store updates
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen2.tsx
Labels: mobile

#3389 add auth.public_keys.is_primary computed field
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/metadata/databases/default/tables/auth_public_keys.yaml
  backend/reef/hasura/migrations/default/1679016121566_add_public_key_is_primary_function/down.sql
  backend/reef/hasura/migrations/default/1679016121566_add_public_key_is_primary_function/up.sql
Labels: backend

#3388 add eslint rule to enforce operationName in zeus queries
  backend/native/backend-ws/src/db/chats.ts
  backend/native/backend-ws/src/db/nfts.ts
  backend/native/backend-ws/src/db/publicKeys.ts
  backend/native/backpack-api/src/db/barter.ts
  backend/native/backpack-api/src/db/chats.ts
  backend/native/backpack-api/src/db/friendships.ts
  backend/native/backpack-api/src/db/nft.ts
  backend/native/backpack-api/src/db/notifications.ts
  backend/native/backpack-api/src/db/preference.ts
  backend/native/backpack-api/src/db/publicKey.ts
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/db/xnftSecrets.ts
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  packages/eslint-config-custom/eslint-plugin-zeus-custom/index.js
  packages/eslint-config-custom/eslint-plugin-zeus-custom/package.json
  packages/eslint-config-custom/eslint-plugin-zeus-custom/rules/require-operation-name.js
  packages/eslint-config-custom/eslint-plugin-zeus-custom/rules/require-operation-name.test.js
  packages/eslint-config-custom/eslint-plugin-zeus-custom/yarn.lock
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  yarn.lock
Labels: backend

#3414 Fix eth transaction ++
  packages/app-extension/src/utils/solana.ts
  packages/background/src/frontend/server-injected.ts
  packages/common/src/constants.ts
  packages/common/src/ethereum/background-provider.ts
  packages/common/src/ethereum/connection-url.ts
  packages/common/src/plugin.ts
  packages/provider-core/src/common/ethereum.ts
  packages/provider-core/src/provider-ethereum.ts
  packages/recoil/src/hooks/solana/usePlugins.tsx
  packages/recoil/src/hooks/useTransactionData.tsx
Labels: extension

#3418 add operationName to api users functions
  backend/native/xnft-api-server/src/db/users.ts
Labels: backend

#3424 return empty array if userIds.length === 0
  backend/native/backend-ws/src/db/users.ts
  backend/native/backpack-api/src/db/friendships.ts
  backend/native/backpack-api/src/db/users.ts
Labels: backend

#3403 update backend api with twitter auth and suggestion endpoints
  .github/workflows/backend-api.yml
  backend/native/backpack-api/.env.sample
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/config.ts
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/v1/twitter.ts
  docker/backpack-api/buildspec.yml
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/TwitterConnect.tsx
  packages/app-extension/src/components/common/Account/SetupComplete.tsx
  yarn.lock
Labels: extension, backend

#3430 fix react-common
  packages/app-mobile/src/hooks/useTheme.tsx
  packages/themes/package.json
  packages/themes/src/index.ts
  packages/themes/src/theme.tsx
Labels: mobile

#3434 100x yarn install / build speeds by upgrading to yarn v3
  .editorconfig
  .gitattributes
  .github/actions/app-mobile-monorepo-setup/action.yml
  .github/workflows/pull_requests_and_merges.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  backend/native/backend-ws/package.json
  backend/native/xnft-api-server/package.json
  backend/workers/xnft-wrapper/package.json
  examples/xnft/explorer/package.json
  examples/xnft/provider-test/package.json
  examples/xnft/simulator/package.json
  package.json
  packages/app-mobile/package.json
  packages/background/package.json
  packages/blockchains/common/package.json
  packages/chat-sdk/package.json
  packages/deptool/package.json
  packages/eslint-config-custom/eslint-plugin-zeus-custom/yarn.lock
  packages/message-sdk/package.json
  packages/react-common/package.json
  packages/tamagui-core/package.json
  packages/xnft-cli/package.json
  yarn.lock
Labels: xnft, mobile, backend

#3426 add ability for xnfts to close to a specific backpack tab
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Token.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Cards.tsx
  packages/app-extension/src/components/common/Layout/Router.tsx
  packages/background/src/backend/core.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/src/browser/extension.ts
  packages/common/src/constants.ts
  packages/common/src/index.ts
  packages/common/src/navigation.ts
  packages/common/src/plugin.ts
  packages/common/src/utils.ts
  packages/provider-core/src/root-provider-xnft.ts
  packages/recoil/src/hooks/navigation.tsx
  packages/recoil/src/types.ts
Labels: extension, backend

#3440 readme updates for android
  packages/app-mobile/README.md
Labels: mobile

#3441 wip wip mobiles
  packages/app-mobile/src/components/BottomDrawerCards.tsx
  packages/app-mobile/src/components/BottomDrawerSolanaConfirmation.tsx
  packages/app-mobile/src/components/UserAccountsMenu.tsx
  packages/app-mobile/src/navigation/AccountSettingsNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/RecentActivityScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen2.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsList.tsx
  packages/app-mobile/src/screens/Unlocked/WalletListScreen.tsx
  packages/tamagui-core/src/components/index.tsx
Labels: mobile

#3428 add more operation names to graphql queries
  backend/native/backend-common/src/db/chatUpdateHistory.ts
  backend/native/backend-common/src/db/chats.ts
  backend/native/backend-common/src/db/friendship.ts
  backend/native/backend-common/src/db/notifications.ts
  backend/native/backend-common/src/db/user.ts
  backend/native/backend-common/src/index.ts
  backend/native/backend-ws/src/auth/index.ts
  backend/native/backend-ws/src/db/chats.ts
  backend/native/backend-ws/src/db/friendships.ts
  backend/native/notifications-worker/src/db/chats.ts
  backend/native/notifications-worker/src/db/friendships.ts
  backend/native/notifications-worker/src/db/nft.ts
  backend/native/notifications-worker/src/db/notifications.ts
  backend/native/notifications-worker/src/db/users.ts
  backend/native/xnft-api-server/src/db/index.ts
  backend/native/xnft-api-server/src/db/xnftSecrets.ts
  backend/native/xnft-api-server/src/v1/xnft.ts
  backend/workers/auth/src/onramp/db.ts
  backend/workers/auth/src/onramp/index.ts
  backend/workers/auth/src/onramp/validate/index.ts
Labels: backend

#3451 add example twitter keys so api runs locally
  backend/native/backpack-api/src/config.ts
Labels: backend

#3446 simplify getUserIdFromPubkey
  backend/native/xnft-api-server/src/db/users.ts
Labels: backend

#3463 message updates
  packages/app-mobile/package.json
  packages/app-mobile/src/components/Messages.tsx
  packages/app-mobile/src/components/data.ts
  packages/app-mobile/src/components/messaging/Inbox.tsx
  packages/app-mobile/src/navigation/ChatNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen2.tsx
  packages/chat-sdk/src/components/ChatRoom.tsx
  packages/message-sdk/src/components/Inbox.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/context/WithAuth.tsx
  packages/recoil/src/context/index.tsx
  packages/tamagui-core/src/chat/fetchMoreChatsFor.tsx
  packages/tamagui-core/src/hooks/chat/useChatsWithMetadata.tsx
  yarn.lock
Labels: mobile

#3481 fix dumb eslint config warnings
  packages/app-mobile/.eslintrc.js
  packages/app-mobile/app.config.js
  packages/app-mobile/app.config.ts
  packages/app-mobile/eas.json
  packages/app-mobile/tsconfig.eslint.json
  packages/app-mobile/tsconfig.json
  turbo.json
Labels: mobile

#3486 update message list to sort by most recent
  packages/message-sdk/src/components/MessageList.tsx
  packages/xnft-cli/package.json
  yarn.lock
Labels: xnft

#3490 fix nfts
  packages/app-extension/src/blue_ball.png
  packages/app-mobile/src/components/ErrorBoundary.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftDetailScreen.tsx
  packages/background/src/frontend/solana-connection.ts
  packages/common/src/solana/background-connection.ts
Labels: mobile

#3493 fix nft detail title
  packages/app-mobile/src/components/NFTCard.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
Labels: mobile

#3510 remove collectibles xnft app if suspended
  packages/app-extension/package.json
  packages/app-extension/webpack.config.js
  packages/recoil/package.json
  packages/recoil/src/atoms/solana/xnft.tsx
  packages/xnft-cli/package.json
  yarn.lock
Labels: xnft, extension

#3511 fix primarybutton fontWeight
  packages/app-mobile/src/components/ErrorBoundary.tsx
  packages/app-mobile/src/hooks/useLoadedAssets.tsx
  packages/app-mobile/src/navigation/LockedNavigator.tsx
  packages/tamagui-core/src/components/index.tsx
  packages/tamagui-core/src/tamagui.config.ts
Labels: mobile

#3521 2x faster build times
  packages/app-extension/webpack.config.js
Labels: extension

#3522 reinstate dropzone api
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  packages/dropzone-cli/index.js
Labels: backend

#3528 update xnft sdk version
  packages/db/src/api/RecoilSync.tsx
  packages/message-sdk/src/components/Inbox.tsx
  packages/recoil/package.json
  packages/recoil/src/atoms/solana/xnft.tsx
  packages/xnft-cli/package.json
  yarn.lock
Labels: xnft

#3530 adds backpack-api mobile-service-worker
  .github/workflows/pull_requests_and_merges.yml
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/v1/mobile.ts
  packages/app-mobile/app.config.ts
  packages/app-mobile/eas.json
  packages/app-mobile/src/App.tsx
Labels: mobile, backend

#3531 fix backend-api sometimes throwing res.status is not a function
  backend/native/backpack-api/src/index.ts
Labels: backend
