Repository coral-xyz/backpack, pull requests merged in 2023-04, with the labels that each got.

#3533 Fix Chat button, autolock when worker dies & update cache times
  backend/native/backpack-api/src/routes/v1/proxy.ts
  backend/workers/swr-cache/src/index.ts
  backend/workers/xnft-gateway/src/index.ts
  packages/app-extension/src/app/App.tsx
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/options/Options.tsx
  packages/background/src/frontend/server-ui.ts
  packages/common/src/constants.ts
  packages/common/src/utils.ts
  packages/recoil/src/atoms/keyring.tsx
  packages/recoil/src/atoms/nft.tsx
  packages/recoil/src/hooks/client.tsx
Labels: extension, backend

#3534 fix mimetype
  backend/native/backpack-api/src/routes/v1/mobile.ts
Labels: backend

#3543 Update Collectibles View
  packages/app-extension/src/components/Unlocked/Nfts/Cards.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Nfts/SendDrawer.tsx
  packages/app-extension/src/components/common/Layout/RightClickMenu.tsx
Labels: extension

#3427 key recovery updates
  packages/app-extension/src/components/Onboarding/pages/CreateOrImportWallet.tsx
  packages/app-extension/src/components/Onboarding/pages/KeyringTypeSelector.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/SettingsNavStackDrawer.tsx
  packages/app-extension/src/components/common/WalletList.tsx
  packages/background/src/backend/core.ts
Labels: extension

#3545 Fix NFT name click
  packages/app-extension/src/components/Unlocked/Nfts/Cards.tsx
Labels: extension

#3547 Revert "use swc isntead of terser for that final step that takes 2 mi…
  packages/app-extension/webpack.config.js
Labels: extension

#3566 onboarding
  packages/app-extension/src/components/Onboarding/pages/CreateOrImportWallet.tsx
  packages/app-extension/src/components/Onboarding/pages/InviteCodeForm.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
Labels: extension

#3574 chat cleanup
  packages/app-mobile/src/components/Messages.tsx
  packages/app-mobile/src/navigation/ChatNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatHelpers.ts
  packages/app-mobile/src/screens/Unlocked/Chat/ChatListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatRequestScreen.tsx
  packages/common/src/api/friendship.ts
  packages/common/src/messages/index.ts
  packages/message-sdk/src/components/Inbox.tsx
Labels: mobile

#3580 Original Asset in Details view
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/react-common/src/components/base/ProxyImage.tsx
Labels: extension

#3588 remove unused express-rate-limit from backpack-api
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/routes/v1/users.ts
  yarn.lock
Labels: backend

#3592 search input for message chats
  packages/app-mobile/app.config.ts
  packages/app-mobile/package.json
  packages/app-mobile/src/components/Messages.tsx
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatHelpers.ts
  packages/app-mobile/src/screens/Unlocked/Chat/ChatListScreen.tsx
  packages/common/src/api/friendship.ts
  yarn.lock
Labels: mobile

#3601 variious chat fixes / avatar
  packages/app-mobile/src/components/ImageSvg.tsx
  packages/app-mobile/src/components/Messages.tsx
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/components/UserAvatar.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen2.tsx
  packages/common/src/api/friendship.ts
Labels: extension, mobile

#3606 Madlads custom details, sort collection, update pfp fix
  packages/app-extension/src/components/Locked/index.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Nfts/SendDrawer.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/recoil/src/atoms/ethereum/nft.tsx
  packages/recoil/src/atoms/solana/nft.tsx
Labels: extension

#3617 friends updates
  backend/native/backpack-api/src/routes/v1/friends.ts
  backend/native/backpack-api/src/routes/v1/inbox.ts
Labels: backend

#3629 add xnft library link button to apps page
  packages/app-extension/src/components/Unlocked/Apps/index.tsx
Labels: extension

#3637 consolidate token/nft send functions between extension/mobile
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Solana/index.tsx
  packages/app-mobile/src/components/BottomDrawerSolanaConfirmation.tsx
  packages/common/src/solana/index.ts
  packages/common/src/solana/send-helpers.ts
  packages/recoil/src/hooks/solana/index.tsx
  packages/recoil/src/hooks/solana/useSolanaTransaction.tsx
Labels: extension, mobile

#3589 use auth_users.public_keys.is_primary in all relevant queries
  .actrc
  .github/actions/backend-tests/action.yml
  .github/workflows/pull_requests_and_merges.yml
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/routes/v1/__tests__/_constants.ts
  backend/native/backpack-api/src/routes/v1/__tests__/_setup.ts
  backend/native/backpack-api/src/routes/v1/__tests__/authenticate.test.ts
  backend/native/backpack-api/src/routes/v1/__tests__/friends.test.ts
  backend/native/backpack-api/src/routes/v1/__tests__/referrals.test.ts
  backend/native/backpack-api/src/routes/v1/__tests__/users.test.ts
  backend/native/backpack-api/src/routes/v1/users.ts
  backend/native/backpack-api/tsconfig.json
  backend/native/backpack-api/vite.config.ts
  backend/native/xnft-api-server/package.json
  backend/native/xnft-api-server/src/db/users.ts
  backend/native/xnft-api-server/src/v1/__tests__/users.test.ts
  backend/native/xnft-api-server/src/v1/users.ts
  backend/native/xnft-api-server/tsconfig.json
  backend/native/xnft-api-server/vite.config.ts
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/docker-compose.yml
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
  yarn.lock
Labels: backend

#3624 fix nft/token sending on mobile
  packages/app-mobile/eas.json
  packages/app-mobile/index.js
  packages/app-mobile/package.json
  packages/app-mobile/src/components/BottomDrawerCards.tsx
  packages/app-mobile/src/components/BottomSheetHelpModal.tsx
  packages/app-mobile/src/components/BottomSheetModal.tsx
  packages/app-mobile/src/components/Messages.tsx
  packages/app-mobile/src/components/StyledTextInput.tsx
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/Chat/ChatListScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/NftDetailScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen2.tsx
  packages/common/src/index.ts
  yarn.lock
Labels: extension, mobile

#3646 fix users missing in search results when sending tokens
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/routes/v1/__tests__/_constants.ts
  backend/native/backpack-api/src/routes/v1/__tests__/users.test.ts
  backend/native/backpack-api/src/routes/v1/users.ts
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/metadata/databases/databases.yaml
  backend/reef/hasura/metadata/databases/default/functions/auth_users_whose_username_matches.yaml
  backend/reef/hasura/metadata/databases/default/functions/dropzone_user_dropzone_public_key.yaml
  backend/reef/hasura/metadata/databases/default/functions/functions.yaml
  backend/reef/hasura/migrations/default/1680874984983_add_users_whose_username_matches_function/down.sql
  backend/reef/hasura/migrations/default/1680874984983_add_users_whose_username_matches_function/up.sql
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
  packages/app-mobile/src/screens/Unlocked/SendTokenScreen2.tsx
Labels: extension, mobile, backend

#3649 update cors settings for some workers
  backend/workers/feature-gates/package.json
  backend/workers/feature-gates/src/index.ts
  backend/workers/jupiter-proxy/package.json
  backend/workers/jupiter-proxy/src/index.ts
  backend/workers/version/.eslintrc.js
  backend/workers/version/package.json
  backend/workers/version/src/index.ts
  backend/workers/version/wrangler.toml
  yarn.lock
Labels: backend

#3658 hide token price change if no data is available
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Token.tsx
Labels: extension

#3657 hide swap button for token if it can't be swapped
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/recoil/src/context/Swap.tsx
Labels: extension

#3660 fix chat perf
  packages/app-mobile/patches/expo+48.0.4.patch
  packages/app-mobile/patches/expo+48.0.9.patch
  packages/app-mobile/patches/react-native-gifted-chat+2.0.1.patch
  packages/app-mobile/src/screens/Unlocked/Chat/ChatDetailScreen.tsx
Labels: mobile

#3661 v0.6.2
  .github/workflows/pull_requests_and_merges.yml
  packages/app-extension/package.json
Labels: extension

#3662 fix expo patch & chat slowness
  packages/app-mobile/package.json
  packages/app-mobile/patches/expo+48.0.10.patch
  packages/app-mobile/patches/react-native-gifted-chat+2.0.1.patch
  packages/app-mobile/src/screens/Unlocked/Chat/ChatDetailScreen.tsx
  yarn.lock
Labels: mobile

#3665 add another lazy import in options.js to reduce bundle size
  packages/app-extension/src/options/index.tsx
Labels: extension

#3675 update auth worker
  backend/workers/auth/src/index.ts
Labels: backend

#3685 clean up baked in xnft logic into common package, and remove uninstall for them
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/Detail.tsx
  packages/common/src/solana/programs/xnft.ts
  packages/recoil/src/atoms/solana/xnft.tsx
Labels: extension

#3687 upgrades tamagui
  packages/app-extension/package.json
  packages/app-mobile/package.json
  packages/tamagui-core/package.json
  packages/tamagui-core/src/components/Images.tsx
  yarn.lock
Labels: extension, mobile

#3691 move copy/paste console warning
  packages/app-extension/src/app/App.tsx
  packages/app-extension/src/popup.html
  packages/app-extension/src/warning.ts
  packages/app-extension/webpack.config.js
Labels: extension

#3702 add legacy ethereum to recovery paths
  packages/app-extension/src/components/common/Account/ImportWallets.tsx
  packages/common/src/crypto.ts
Labels: extension

#3728 api updates
  backend/native/backpack-api/src/db/nft.ts
  backend/native/backpack-api/src/routes/v1/chats.ts
  backend/native/backpack-api/src/routes/v1/inbox.ts
  backend/native/backpack-api/src/routes/v1/nft.ts
Labels: backend

#3584 add support for multiple read replicas
  backend/reef/docker-compose.yml
  backend/reef/hasura/metadata/databases/databases.yaml
Labels: backend

#3745 avatar cache updates
  backend/workers/avatars/.eslintrc.js
  backend/workers/avatars/src/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
Labels: extension, backend

#3746 cache some backend queries
  backend/native/backpack-api/src/db/nft.ts
  backend/reef/docker-compose.yml
Labels: backend

#3750 max conns
  backend/reef/hasura/metadata/databases/databases.yaml
Labels: backend

#3793 tamagui font updates
  packages/app-mobile/src/components/Unlocked/Balances/Balances.tsx
  packages/app-mobile/src/hooks/useLoadedAssets.tsx
  packages/tamagui-core/src/components/ListItem2.tsx
  packages/tamagui-core/src/fonts.ts
  packages/tamagui-core/src/tamagui.config.ts
  packages/themes/src/base.ts
Labels: mobile

#3796 move components over to tamagui
  packages/app-mobile/src/components/index.tsx
  packages/tamagui-core/src/components/StyledText.tsx
  packages/tamagui-core/src/components/index.tsx
Labels: mobile

#3798 small graphql api attachment for mobile data queries
  backend/native/backpack-api/.env.sample
  backend/native/backpack-api/codegen.yml
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/messaging/messaging.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/index.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/clients/coingecko.ts
  backend/native/backpack-api/src/routes/graphql/clients/helius.ts
  backend/native/backpack-api/src/routes/graphql/context.ts
  backend/native/backpack-api/src/routes/graphql/index.ts
  backend/native/backpack-api/src/routes/graphql/query.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
  backend/native/backpack-api/tsconfig.json
  yarn.lock
Labels: backend

#3822 graphql: adds percentChange and changes change to usdChange
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/index.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
  backend/native/backpack-api/src/routes/graphql/types.ts
  backend/native/backpack-api/src/schema.graphql
Labels: backend

#3824 graphql: fix usd/percent change
  backend/native/backpack-api/src/routes/graphql/blockchain/ethereum.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/index.ts
  backend/native/backpack-api/src/routes/graphql/blockchain/solana.ts
Labels: backend

#3825 move over tamagui components
  packages/app-mobile/src/components/AccountSettingsBottomSheet.tsx
  packages/app-mobile/src/components/BlockchainLogo.tsx
  packages/app-mobile/src/components/ListItem.tsx
  packages/app-mobile/src/components/UserAccountsMenu.tsx
  packages/app-mobile/src/components/WalletSwitcherButton.tsx
  packages/app-mobile/src/components/index.tsx
  packages/tamagui-core/src/components/Button.tsx
  packages/tamagui-core/src/components/Container.tsx
  packages/tamagui-core/src/components/index.tsx
  packages/tamagui-core/src/fonts.ts
Labels: mobile

#3826 component list screen, types, notifications from bigger PR
  packages/app-mobile/src/screens/Unlocked/DummyScreen.tsx
  packages/app-mobile/src/types/types.ts
  packages/common/src/notifications.ts
Labels: mobile

#3828 add service worker keep alive
  packages/app-extension/src/manifest.json
  packages/background/src/index.ts
Labels: extension

#3831 balance summary widget with graphql
  packages/app-mobile/app.config.ts
  packages/app-mobile/babel.config.js
  packages/app-mobile/package.json
  packages/app-mobile/relay.config.js
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/Providers.tsx
  packages/app-mobile/src/graphql/RelayEnvironment.tsx
  packages/app-mobile/src/graphql/apollo.ts
  packages/app-mobile/src/graphql/create-relay-environment.ts
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  yarn.lock
Labels: mobile

#3836 parse jwt into context if provided
  backend/native/backpack-api/src/routes/graphql/context.ts
Labels: backend

#3838 add type, source and item fields to tx parsed details table
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/TransactionDetail.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/detail-parser.ts
Labels: extension
