Repository coral-xyz/backpack, pull requests merged in 2023-02, with the labels that each got.

#2378 one_xnft permissions for user_nfts
  backend/reef/hasura/metadata/databases/default/tables/auth_user_nfts.yaml
Labels: backend

#2379 update notifications navstack
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
Labels: extension

#2383 fix is cold bug
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/WalletDetail.tsx
Labels: extension

#2389 add media query to empty state to determine optional button width constraints
  packages/app-extension/src/components/Unlocked/Apps/index.tsx
  packages/react-common/src/components/base/EmptyState.tsx
Labels: extension

#2388 Various fixes to xnft rendering
  packages/app-extension/src/components/Unlocked/Apps/Plugin.tsx
  packages/background/src/frontend/server-injected.ts
  packages/common/src/channel/plugin.ts
  packages/common/src/plugin.ts
  packages/react-xnft-dom-renderer/src/Component.tsx
  packages/recoil/src/hooks/solana/usePlugins.tsx
Labels: extension

#2391 add backpack api endpoint to get sent requests
  backend/native/backpack-api/src/db/friendships.ts
  backend/native/backpack-api/src/routes/v1/friends.ts
Labels: backend

#2390 Separate contacts and requests display pages
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
  packages/app-extension/src/components/Unlocked/Messages/Contacts.tsx
  packages/app-extension/src/components/Unlocked/Messages/SearchUsers.tsx
  packages/app-extension/src/components/Unlocked/Settings/SettingsNavStackDrawer.tsx
  packages/message-sdk/src/components/ProfileScreen.tsx
  packages/message-sdk/src/components/UserList.tsx
Labels: extension

#2394 Update chat room info menu
  packages/app-extension/src/components/Unlocked/Messages/ChatDrawer.tsx
  packages/app-extension/src/components/Unlocked/Messages/SearchBox.tsx
  packages/app-extension/src/components/Unlocked/Messages/SearchUsers.tsx
  packages/message-sdk/src/components/UserList.tsx
Labels: extension

#2395 provide window.xnft.metadata to iframe & native xNFTs
  packages/app-extension/src/plugin/Renderer.tsx
  packages/provider-core/src/root-provider-xnft.ts
Labels: extension

#2398 PFP selection border and revertion cleanup
  backend/native/backpack-api/src/db/users.ts
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
Labels: extension, backend

#2399 include referred users in dropzone api query
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  backend/native/zeus/src/zeus/const.ts
  backend/native/zeus/src/zeus/index.ts
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
Labels: backend

#2400 fix notification list item icon skeletons
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
Labels: extension

#2396 Update mint entrypoint controls
  backend/reef/hasura/metadata/databases/default/tables/auth_user_nfts.yaml
  packages/app-extension/src/components/Unlocked/Nfts/EntryONE.tsx
  packages/app-extension/src/components/Unlocked/Nfts/index.tsx
  packages/app-extension/src/hooks/useIsONELive.ts
  packages/recoil/src/atoms/solana/index.tsx
  packages/recoil/src/atoms/solana/isONELive.tsx
Labels: extension, backend

#2369 new derivation path scheme
  packages/app-extension/src/components/Locked/index.tsx
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareDefaultAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareOnboard.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSearch.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSign.tsx
  packages/app-extension/src/components/Onboarding/pages/MnemonicSearch.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveTransaction.tsx
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
  packages/app-extension/src/components/common/WalletList.tsx
  packages/app-extension/src/hooks/useOnboarding.tsx
  packages/app-mobile/src/components/BottomDrawerSolanaConfirmation.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/index.ts
  packages/background/src/backend/store/keyname.ts
  packages/background/src/backend/store/keyring.ts
  packages/background/src/backend/store/migrations/migrate_0_2_0_2408.ts
  packages/background/src/frontend/server-ui.ts
  packages/blockchains/common/src/index.ts
  packages/blockchains/evm/src/keyring/index.ts
  packages/blockchains/evm/src/util.ts
  packages/blockchains/keyring/src/blockchain.ts
  packages/blockchains/keyring/src/ledger.ts
  packages/blockchains/keyring/src/types.ts
  packages/blockchains/solana/src/keyring/index.ts
  packages/blockchains/solana/src/util.ts
  packages/common/package.json
  packages/common/src/constants.ts
  packages/common/src/crypto.ts
  packages/common/src/solana/index.ts
  packages/common/src/solana/programs/token.ts
  packages/common/src/types.ts
  packages/ledger-injection/src/index.ts
  packages/react-common/src/components/base/SuccessButton.tsx
  packages/recoil/src/context/Notifications.tsx
  yarn.lock
Labels: extension, mobile

#2405 fix icon attribute name
  packages/app-extension/src/components/common/Icon/index.tsx
Labels: extension

#2406 Update auth_waolist_tokens.yaml
  backend/reef/hasura/metadata/databases/default/tables/auth_waolist_tokens.yaml
Labels: backend

#2408 hide the back button on the last page of recovery flow
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
Labels: extension

#2409 standardize popover menu into common custom component
  packages/app-extension/src/components/Unlocked/Messages/MessageOptions.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/common/PopoverMenu.tsx
Labels: extension

#2432 hide back button on last step of recovery onboarding
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
Labels: extension

#2431 dropzone backend tweaks
  backend/native/backpack-api/src/routes/v1/dropzone.ts
Labels: backend

#2437 fix padding border to popover menu
  packages/app-extension/src/components/common/PopoverMenu.tsx
Labels: extension

#2415 xnft-cli new bundle: skip entrypoints that start with "http"
  backend/workers/xnft-wrapper/.eslintrc.cjs
  backend/workers/xnft-wrapper/.eslintrc.js
  backend/workers/xnft-wrapper/src/index.ts
  backend/workers/xnft-wrapper/tsconfig.json
  packages/xnft-cli/new/getXnftWithGlobs.js
Labels: xnft, backend

#2439 allow dropzone push notifications by default
  backend/native/xnft-api-server/src/db/index.ts
  packages/recoil/src/atoms/preferences/xnft-preferences.tsx
Labels: backend

#2443 send dropzone push notifications
  backend/native/backpack-api/src/config.ts
  backend/native/backpack-api/src/routes/v1/dropzone.ts
Labels: backend

#2444 Adds build version and userId to window.xnft.metadata
  packages/app-extension/src/plugin/Renderer.tsx
  packages/common-public/src/types.ts
Labels: extension

#2445 move mnemonic multiple recovery into onboarding instead of sync
  packages/app-extension/src/components/Onboarding/pages/HardwareDefaultAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSearch.tsx
  packages/app-extension/src/components/Onboarding/pages/MnemonicSearch.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccountUsernameForm.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/ConnectHardwareSearching.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/components/Unlocked/WithSyncAccount.tsx
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
  packages/app-extension/src/hooks/useOnboarding.tsx
  packages/app-extension/src/hooks/useSignMessageForWallet.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/src/constants.ts
  packages/common/src/types.ts
  packages/recoil/src/atoms/wallet.tsx
  packages/recoil/src/types.ts
Labels: extension

#2448 add loader on create new wallet
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
Labels: extension

#2449 fix extra rerenders closing wallet list
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportSecretKey.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/SettingsNavStackDrawer.tsx
  packages/app-extension/src/components/Unlocked/index.tsx
  packages/app-extension/src/components/common/WalletList.tsx
Labels: extension

#2468 more ethereum derivation paths for import and recovery
  packages/app-extension/src/components/common/Account/ImportAccounts.tsx
  packages/common/src/crypto.ts
Labels: extension

#2479 rename useNavStack hook
  packages/app-extension/src/components/Locked/LockedMenu.tsx
  packages/app-extension/src/components/Locked/Reset/ResetWarning.tsx
  packages/app-extension/src/components/Locked/Reset/ResetWelcome.tsx
  packages/app-extension/src/components/Locked/Reset/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
  packages/app-extension/src/components/Unlocked/Balances/StripeRamp.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Deposit.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Ramp.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-extension/src/components/Unlocked/Messages/Contacts.tsx
  packages/app-extension/src/components/Unlocked/Messages/SearchUsers.tsx
  packages/app-extension/src/components/Unlocked/Settings/AboutBackpack/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportSecretKey.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/AutoLock.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Ethereum/Connection.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Ethereum/CustomRpcUrl.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Ethereum/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/Commitment.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/ConnectionSwitch.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/CustomRpcUrl.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/Explorer.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/TrustedSites.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ChangePassword.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RemoveWallet.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RenameWallet.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/WalletDetail.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ShowPrivateKey.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ShowRecoveryPhrase.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/app-extension/src/components/common/Layout/NavStack.tsx
  packages/app-extension/src/components/common/WaitingRoom.tsx
  packages/app-extension/src/components/common/WalletList.tsx
Labels: extension

#2451 dehydrated wallet state design update
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/WalletDetail.tsx
  packages/app-extension/src/components/common/WalletList.tsx
  packages/background/src/backend/store/keyname.ts
Labels: extension

#2480 use setOptions api for ephemeral nav stack title
  packages/app-extension/src/components/Locked/Reset/ResetWarning.tsx
  packages/app-extension/src/components/Locked/Reset/index.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Messages/Contacts.tsx
  packages/app-extension/src/components/Unlocked/Settings/AboutBackpack/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportSecretKey.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/AutoLock.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Ethereum/Connection.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Ethereum/CustomRpcUrl.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Ethereum/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/Commitment.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/ConnectionSwitch.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/CustomRpcUrl.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/Explorer.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/Solana/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/TrustedSites.tsx
  packages/app-extension/src/components/Unlocked/Settings/Preferences/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Settings/Xnfts/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ChangePassword.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RemoveWallet.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RenameWallet.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/WalletDetail.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ShowPrivateKey.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ShowRecoveryPhrase.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/app-extension/src/components/common/Layout/NavStack.tsx
  packages/app-extension/src/components/common/WaitingRoom.tsx
  packages/app-extension/src/components/common/WalletList.tsx
Labels: extension

#2481 use setOptions api for right nav btn
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ShowPrivateKey.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/ShowRecoveryPhrase.tsx
  packages/app-extension/src/components/common/Layout/NavStack.tsx
  packages/app-extension/src/components/common/WaitingRoom.tsx
  packages/app-extension/src/components/common/WalletList.tsx
Labels: extension

#2482 remove on close api for nav stack
  packages/app-extension/src/components/Unlocked/Balances/StripeRamp.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Token.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/AvatarHeader.tsx
  packages/app-extension/src/components/common/Layout/NavStack.tsx
Labels: extension

#2483 Update xNFT collectible open experience
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/recoil/package.json
  packages/recoil/src/atoms/solana/xnft.tsx
  yarn.lock
Labels: extension

#2506 swap screen updates
  packages/app-mobile/app.config.js
  packages/app-mobile/index.js
  packages/app-mobile/package.json
  packages/app-mobile/src/components/Form.tsx
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-mobile/src/navigation/UnlockedNavigator.tsx
  packages/app-mobile/src/screens/Unlocked/BalancesScreen.tsx
  packages/app-mobile/src/screens/Unlocked/GlobalSwapScreen.tsx
  packages/app-mobile/src/screens/Unlocked/SwapTokenScreen.tsx
  yarn.lock
Labels: mobile

#2516 add drop amount and mint for dropzone
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  yarn.lock
Labels: backend

#2525 fix /users/me API endpoint
  backend/native/backpack-api/src/routes/v1/users.ts
Labels: backend

#2523 xnft cli fixes
  packages/xnft-cli/new/bundle.js
  packages/xnft-cli/new/getXnftWithGlobs.js
Labels: xnft

#2536 re-enable and fix SwapProvider
  packages/app-mobile/src/components/Unlocked/Balances/TransferWidget.tsx
Labels: mobile

#2543 add dropzone auth and cli
  backend/native/backpack-api/src/config.ts
  backend/native/backpack-api/src/routes/v1/dropzone.ts
  packages/dropzone-cli/.gitignore
  packages/dropzone-cli/README.md
  packages/dropzone-cli/index.js
  packages/dropzone-cli/package.json
  yarn.lock
Labels: backend

#2562 loading spinner tweaks
  packages/app-extension/src/index.css
  packages/react-common/src/components/base/Loading.tsx
Labels: extension

#2568 various polish updates
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/chat-sdk/src/components/Message.tsx
  packages/chat-sdk/src/components/ReplyContainer.tsx
  packages/chat-sdk/src/components/messageInput/MessageInput.tsx
  packages/message-sdk/src/components/MessageList.tsx
Labels: extension

#2569 fix webpack-dev-server websocket connection
  README.md
  packages/app-extension/.gitignore
  packages/app-extension/webpack.config.js
Labels: extension

#2577 add style override to nav setOptions and fix dark mode swap background
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/app-extension/src/components/common/Layout/NavStack.tsx
Labels: extension

#2572 cancel dangling ui action requests on window update
  packages/app-extension/src/app/Router.tsx
  packages/background/src/frontend/common.ts
  packages/background/src/frontend/server-injected.ts
  packages/common/src/browser/extension.ts
  packages/common/src/browser/index.ts
  packages/common/src/browser/uiActionRequestManager.ts
Labels: extension

#2586 add launch button to nft grid cards for xnfts
  packages/app-extension/src/components/Unlocked/Nfts/Common.tsx
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
Labels: extension

#2589 Clean up recent activity parsing
  packages/app-extension/src/components/Unlocked/Balances/RecentActivity.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/ListItem.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/TransactionDetail.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/detail-parser.ts
  packages/recoil/src/atoms/solana/recent-transactions.tsx
Labels: extension

#2591 convert icons to jsx from function calls
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/Icons.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/ListItem.tsx
Labels: extension

#2594 Update xnft-cli: xnft -> xnft legacy && xnft new -> xnft
  examples/xnft/app/package.json
  examples/xnft/aurory/package.json
  examples/xnft/custom-components/package.json
  examples/xnft/deadgods/package.json
  examples/xnft/explorer/package.json
  examples/xnft/hello-world/package.json
  examples/xnft/iframe/package.json
  examples/xnft/mango/package.json
  examples/xnft/media-streams/package.json
  examples/xnft/network-monitor/package.json
  examples/xnft/network-monitor/src/index.tsx
  examples/xnft/prices/package.json
  examples/xnft/provider-test/package.json
  examples/xnft/psyfi/package.json
  examples/xnft/recoil/package.json
  examples/xnft/simulator/package.json
  examples/xnft/table-anchor/package.json
  examples/xnft/tailwind/package.json
  packages/xnft-cli/index.js
  yarn.lock
Labels: xnft

#2605 update notification onboarding page with new illustration
  packages/app-extension/src/components/Onboarding/pages/NotificationsPermission.tsx
Labels: extension

#2580 refactor options for adding new wallets
  packages/app-extension/src/components/Onboarding/pages/HardwareDefaultAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareDefaultWallet.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareDeriveWallet.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareOnboard.tsx
  packages/app-extension/src/components/Onboarding/pages/HardwareSearchWallet.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/ConnectHardwareSearching.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ConnectHardware/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/CreateMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMenu.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMnemonic.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportSecretKey.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/SettingsNavStackDrawer.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/index.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-extension/src/components/common/Account/ImportWallets.tsx
  packages/app-extension/src/components/common/Layout/ActionCard.tsx
  packages/app-extension/src/components/common/Settings/List.tsx
  packages/app-extension/src/components/common/WalletList.tsx
  packages/app-extension/src/hooks/useConflictQuery.tsx
  packages/app-extension/src/hooks/useSignMessageForWallet.tsx
  packages/app-extension/src/options/Options.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/AddConnectWalletScreen.tsx
  packages/app-mobile/src/screens/Unlocked/YourAccountScreen.tsx
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/frontend/server-ui.ts
  packages/blockchains/common/src/index.ts
  packages/blockchains/evm/src/index.ts
  packages/blockchains/evm/src/keyring/index.ts
  packages/blockchains/evm/src/util.ts
  packages/blockchains/keyring/src/blockchain.ts
  packages/blockchains/keyring/src/ledger.ts
  packages/blockchains/keyring/src/types.ts
  packages/blockchains/solana/src/index.ts
  packages/blockchains/solana/src/keyring/index.ts
  packages/blockchains/solana/src/util.ts
  packages/common/src/browser/extension.ts
  packages/common/src/constants.ts
  packages/common/src/crypto.ts
  packages/common/src/types.ts
  packages/react-common/src/components/Icon/index.tsx
  packages/react-common/src/components/base/Inputs.tsx
  packages/recoil/src/atoms/keyring.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/keyring.tsx
Labels: extension, mobile

#2607 fix auth race due to auth delay
  packages/app-extension/src/app/DbRecoilSync.tsx
  packages/background/src/backend/core.ts
  packages/common/src/constants.ts
  packages/recoil/src/atoms/preferences/index.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/hooks/preferences/index.tsx
Labels: extension

#2625 Remove special casing for WL collection
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-mobile/src/screens/Unlocked/NftCollectiblesScreen.tsx
Labels: extension, mobile

#2632 update local hasura and postgres versions
  backend/reef/docker-compose.yml
Labels: backend

#2648 migration: fix empty uuid
  packages/background/src/backend/core.ts
  packages/background/src/backend/keyring/index.ts
  packages/background/src/backend/store/keyring.ts
  packages/background/src/backend/store/migrations/index.ts
  packages/background/src/backend/store/migrations/migrate_0_2_0_2408.ts
  packages/background/src/backend/store/migrations/migrate_0_2_0_510.ts
Labels: extension

#2672 allow content-encoding header in rpc proxy
  backend/workers/rpc-proxy/.eslintrc.js
  backend/workers/rpc-proxy/package.json
  backend/workers/rpc-proxy/src/index.ts
Labels: backend

#2673 fix cors origin in backend
  backend/native/backpack-api/src/index.ts
  backend/native/backpack-api/src/routes/v1/public-keys.ts
Labels: backend

#2676 add warning if removing dropzone wallet
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RemoveWallet.tsx
Labels: extension

#2679 implement mnemonic syncing again
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/background/src/backend/core.ts
  packages/background/src/frontend/server-ui.ts
  packages/common/src/constants.ts
Labels: extension

#2659 wip onboarding
  packages/app-mobile/app.config.js
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/hooks/useAuthentication.tsx
  packages/app-mobile/src/lib/OnboardingProvider.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/eslint-config-custom/native.js
Labels: mobile

#2682 adds proxy for service worker
  backend/native/backpack-api/package.json
  backend/native/backpack-api/src/index.ts
  yarn.lock
Labels: backend

#2683 fixing mobile cors / server issue
  packages/app-mobile/src/App.tsx
  packages/background/src/backend/core.ts
Labels: mobile

#2687 debugging why blockchain derivation paths arent loaading
  packages/app-mobile/src/App.tsx
  packages/app-mobile/src/lib/OnboardingProvider.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
Labels: mobile

#2689 Allow one_xnft to read referrals
  backend/reef/hasura/metadata/databases/default/tables/auth_users.yaml
Labels: backend

#2691 clean up service worker debugging
  packages/app-mobile/app.config.js
  packages/app-mobile/eas.json
  packages/app-mobile/src/App.tsx
Labels: mobile

#2694 update tokenMetadata to use swr & add CORS headers to swr endpoint
  backend/workers/swr-cache/src/index.ts
  packages/recoil/src/atoms/tokenMetadata.tsx
Labels: backend

#2696 sdk48
  packages/app-mobile/package.json
  packages/app-mobile/src/screens/Unlocked/components/BalanceSummaryWidget.tsx
  yarn.lock
Labels: mobile

#2698 onboarding fixes
  packages/app-mobile/src/components/CheckBox.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/hooks/useTheme.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
Labels: mobile

#2702 Fix splash
  packages/app-extension/src/components/Unlocked/Apps/Renderer.tsx
Labels: extension

#2706 Splash improvements
  packages/app-extension/src/components/Unlocked/Apps/Renderer.tsx
Labels: extension

#2711 Fix pointer-events & hide flicker
  packages/app-extension/src/components/Unlocked/Apps/Renderer.tsx
Labels: extension

#2717 Fix Collectible xnfts
  backend/workers/nft-data/src/index.ts
  packages/common/src/solana/programs/xnft.ts
  packages/recoil/src/atoms/solana/xnft.tsx
  packages/recoil/src/hooks/solana/usePlugins.tsx
Labels: backend

#2719 fix swap attempts for tokens that aren't in the spl registry
  packages/app-extension/src/components/Unlocked/Balances/Balances.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/app-extension/src/components/common/TokenTable.tsx
  packages/background/src/backend/solana-connection.ts
  packages/common/src/solana/background-connection.ts
  packages/common/src/solana/programs/token.ts
  packages/recoil/src/atoms/balance.tsx
  packages/recoil/src/atoms/ethereum/token.tsx
  packages/recoil/src/atoms/solana/jupiter.tsx
  packages/recoil/src/atoms/solana/token.tsx
  packages/recoil/src/atoms/tokenMetadata.tsx
  packages/recoil/src/context/Swap.tsx
  packages/recoil/src/hooks/solana/useJupiter.tsx
  packages/recoil/src/hooks/useBlockchain.tsx
  packages/recoil/src/types.ts
Labels: extension

#2721 update design for primary selector
  packages/app-extension/src/components/Unlocked/PrimaryPubkeySelector.tsx
Labels: extension

#2724 onboarding updates
  packages/app-mobile/app.config.js
  packages/app-mobile/package.json
  packages/app-mobile/src/components/ActionCard.tsx
  packages/app-mobile/src/components/CheckBox.tsx
  packages/app-mobile/src/components/Icon.tsx
  packages/app-mobile/src/components/index.tsx
  packages/app-mobile/src/images/logo-avalanche.png
  packages/app-mobile/src/images/logo-bsc.png
  packages/app-mobile/src/images/logo-cosmos.png
  packages/app-mobile/src/images/logo-ethereum.png
  packages/app-mobile/src/images/logo-polygon.png
  packages/app-mobile/src/images/logo-polygon.svg
  packages/app-mobile/src/images/logo-solana.png
  packages/app-mobile/src/images/logo-solana.svg
  packages/app-mobile/src/lib/OnboardingProvider.tsx
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/app-mobile/src/navigation/RootNavigator.tsx
  packages/app-mobile/tsconfig.json
  yarn.lock
Labels: mobile

#2723 Default xNft Splash
  packages/app-extension/src/assets/defaultSplash1000.svg
  packages/app-extension/src/assets/defaultSplash2000.svg
  packages/app-extension/src/assets/defaultSplash600.svg
  packages/app-extension/src/components/Unlocked/Apps/Renderer.tsx
  packages/common/src/plugin.ts
Labels: extension

#2732 rework recovery to use only primary public keys
  backend/native/backpack-api/src/auth/middleware.ts
  backend/native/backpack-api/src/routes/v1/authenticate.ts
  backend/native/backpack-api/src/routes/v1/users.ts
  packages/app-extension/src/components/Onboarding/pages/RecoverAccountUsernameForm.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/app-extension/src/hooks/useAuthentication.tsx
  packages/app-mobile/src/hooks/useAuthentication.tsx
  packages/background/src/backend/core.ts
Labels: extension, mobile, backend

#2746 Dark Mode splash screen
  packages/app-extension/src/assets/defaultSplash1000.svg
  packages/app-extension/src/assets/defaultSplash2000.svg
  packages/app-extension/src/assets/defaultSplash600.svg
Labels: extension

#2745 Revert "add warning if removing dropzone wallet (#2676)"
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/RemoveWallet.tsx
Labels: extension

#2751 add SWAP_FEES_ENABLED remote feature flag
  backend/workers/feature-gates/package.json
  backend/workers/feature-gates/src/FEATURES.ts
  backend/workers/feature-gates/wrangler.toml
  package.json
  packages/common/scripts/config.sh
  packages/common/src/feature-gates.ts
  packages/recoil/src/atoms/solana/jupiter.tsx
  packages/recoil/src/atoms/solana/xnft.tsx
  packages/recoil/src/context/Notifications.tsx
  packages/recoil/src/context/Swap.tsx
  yarn.lock
Labels: backend

#2756 fix notifications for authentication hook
  packages/app-extension/src/app/DbRecoilSync.tsx
  packages/app-extension/src/hooks/useAuthentication.tsx
  packages/app-mobile/src/hooks/useAuthentication.tsx
  packages/background/src/backend/core.ts
Labels: extension, mobile

#2765 fix outputMint in jupiter proxy
  backend/workers/jupiter-proxy/src/index.ts
Labels: backend

#2769 transaction parsing design fixes
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/ListItem.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/TransactionDetail.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/detail-parser.ts
Labels: extension

#2779 logout to log out
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/index.tsx
  packages/app-mobile/src/screens/Unlocked/YourAccountScreen.tsx
Labels: extension, mobile

#2778 update address selector designs
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
Labels: extension

#2784 v0.5.0
  packages/app-extension/package.json
Labels: extension

#2793 consistent headers and various design tweaks
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
  packages/message-sdk/src/components/Inbox.tsx
  packages/message-sdk/src/components/styles.tsx
  packages/react-common/src/components/base/BubbleTopLabel.tsx
  packages/react-common/src/components/base/index.ts
Labels: extension

#2794 consistent placeholders for usernames/addresses
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
  packages/app-extension/src/components/Unlocked/Messages/SearchBox.tsx
Labels: extension

#2797 fix chat syncing
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Unlocked/AuthenticatedSync.tsx
  packages/background/src/backend/core.ts
  packages/message-sdk/src/components/Inbox.tsx
  packages/recoil/src/atoms/preferences/index.tsx
  packages/recoil/src/context/Notifications.tsx
Labels: extension

#2792 Pass down mint address to collectible-xnft
  packages/app-extension/src/components/Unlocked/Nfts/Common.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
Labels: extension

#2800 keep current user's referrer if they add a new account
  backend/native/backpack-api/src/auth/middleware.ts
  backend/native/backpack-api/src/db/users.ts
  backend/native/backpack-api/src/routes/v1/users.ts
Labels: backend

#2807 consolidate onboarding between mobile app and extension
  package.json
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/KeyringTypeSelector.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/ImportMnemonic.tsx
  packages/app-mobile/src/lib/OnboardingProvider.tsx
  packages/app-mobile/src/lib/index.ts
  packages/app-mobile/src/navigation/OnboardingNavigator.tsx
  packages/recoil/src/context/OnboardingProvider.tsx
  packages/recoil/src/context/index.tsx
  packages/recoil/src/hooks/index.tsx
  packages/recoil/src/hooks/useSignMessageForWallet.tsx
Labels: extension, mobile

#2819 lock screen cover
  packages/app-extension/src/components/Locked/LockedMenu.tsx
  packages/app-extension/src/components/Locked/index.tsx
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/db/src/api/RecoilSync.tsx
  packages/react-common/src/components/base/LocalImage.tsx
  packages/react-common/src/components/base/ProxyImage.tsx
  packages/recoil/src/atoms/solana/nft.tsx
  packages/recoil/src/hooks/preferences/index.tsx
Labels: extension

#2842 fix preselection of tokens in swapper
  packages/app-extension/src/components/Unlocked/Swap.tsx
  packages/recoil/src/context/Swap.tsx
Labels: extension

#2843 add asc order on username in by prefix query
  backend/native/backpack-api/src/db/users.ts
Labels: backend

#2853 various polish and design tweaks
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
  packages/app-extension/src/components/Unlocked/Balances/RecentSolanaActivity/RecentSolanaActivityList.tsx
  packages/app-extension/src/components/Unlocked/Messages/SearchUsers.tsx
  packages/message-sdk/src/components/UserList.tsx
Labels: extension

#2859 removes old dom renderer
  packages/app-extension/package.json
  packages/app-extension/tsconfig.json
  packages/app-extension/webpack.dev.config.js
Labels: extension

#2860 upgrades extension to react v18.2.0
  backend/workers/avatars/package.json
  examples/clients/simple/package.json
  examples/xnft/app/package.json
  examples/xnft/aurory/package.json
  examples/xnft/custom-components/package.json
  examples/xnft/deadgods/package.json
  examples/xnft/explorer/package.json
  examples/xnft/hello-world/package.json
  examples/xnft/iframe/package.json
  examples/xnft/mango/package.json
  examples/xnft/media-streams/package.json
  examples/xnft/network-monitor/package.json
  examples/xnft/prices/package.json
  examples/xnft/provider-test/package.json
  examples/xnft/psyfi/package.json
  examples/xnft/recoil/package.json
  examples/xnft/simulator/package.json
  examples/xnft/table-anchor/package.json
  examples/xnft/tailwind/package.json
  packages/app-extension/package.json
  packages/app-extension/src/components/Unlocked/Balances/Notifications.tsx
  packages/app-extension/src/components/Unlocked/Nfts/NftTable.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/AvatarHeader.tsx
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/UpdateProfilePicture.tsx
  packages/app-extension/src/components/common/PopoverMenu.tsx
  packages/app-extension/src/components/common/Settings/List.tsx
  packages/app-extension/src/index.tsx
  packages/app-extension/src/options/index.tsx
  packages/app-extension/src/permissions/index.tsx
  packages/app-mobile/package.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/components/barter/SwapPage.tsx
  packages/common-public/package.json
  packages/db/package.json
  packages/message-sdk/package.json
  packages/react-common/package.json
  packages/react-xnft-dom-renderer/package.json
  packages/react-xnft/package.json
  packages/recoil/package.json
  packages/themes/package.json
  web/components/AppNoLink.tsx
  web/components/CoralFooter.tsx
  web/components/Nav.tsx
  web/components/Partners.tsx
  web/components/Posts.tsx
  web/package.json
  yarn.lock
Labels: xnft, extension, mobile, backend

#2858 react native in the extension heh
  packages/app-extension/jest.config.js
  packages/app-extension/package.json
  packages/app-extension/webpack.config.js
  packages/app-extension/webpack.dev.config.js
  yarn.lock
Labels: extension

#2870 extension text field / avatar fixes
  packages/app-extension/src/plugin/Component.tsx
  packages/react-common/src/components/base/Inputs.tsx
  packages/react-common/src/components/base/UserIcon.tsx
Labels: extension

#2873 fix review button styles
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/Send.tsx
Labels: extension

#2879 fix/reformat/consolidate onboarding flow for recover account
  packages/app-extension/src/components/Onboarding/index.tsx
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/app-extension/src/components/Unlocked/WithAuth.tsx
  packages/recoil/src/context/OnboardingProvider.tsx
  packages/recoil/src/hooks/index.tsx
  packages/recoil/src/hooks/useAuthentication.tsx
Labels: extension

#2896 bring back stripe feature gate
  backend/workers/feature-gates/src/FEATURES.ts
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/app-extension/src/components/Unlocked/Balances/index.tsx
  packages/common/src/feature-gates.ts
Labels: extension, backend

#2902 remove avatar menu in settings
  packages/app-extension/src/components/Unlocked/Settings/AvatarHeader/AvatarHeader.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
Labels: extension

#2917 fix recover account 2nd username
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
  packages/recoil/src/context/OnboardingProvider.tsx
Labels: extension

#2922 Hardcoded chat name: Mad Lads WL -> The Madlist
  packages/app-extension/src/components/Unlocked/Nfts/Detail.tsx
  packages/common/src/constants.ts
Labels: extension

#2924 switch back from createRoot to render
  packages/app-extension/src/index.tsx
  packages/app-extension/src/options/index.tsx
  packages/app-extension/src/permissions/index.tsx
Labels: extension

#2928 eslint react rules working
  packages/app-extension/package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/shared/react.js
  yarn.lock
Labels: extension

#2930 removes createRoot and strict mode
  packages/app-extension/src/index.tsx
  packages/app-extension/src/options/index.tsx
  packages/app-extension/src/permissions/index.tsx
Labels: extension

#2931 eslint --fix some leaky renders
  packages/app-extension/src/components/Unlocked/Messages/ChatDrawer.tsx
  packages/app-extension/src/components/Unlocked/Settings/YourAccount/EditWallets/WalletDetail.tsx
  packages/app-extension/src/components/common/Layout/BottomCard.tsx
  packages/app-extension/src/components/common/Layout/Nav.tsx
  packages/app-extension/src/permissions/PermissionsPage.tsx
Labels: extension

#2933 re-add implicit useEffect
  packages/app-extension/src/components/Onboarding/pages/Finish.tsx
  packages/app-extension/src/components/Onboarding/pages/OnboardAccount.tsx
  packages/app-extension/src/components/Onboarding/pages/RecoverAccount.tsx
Labels: extension

#2940 change language around contacts to friends
  packages/app-extension/src/components/Onboarding/pages/NotificationsPermission.tsx
  packages/app-extension/src/components/Unlocked/Balances/TokensWidget/AddressSelector.tsx
  packages/app-extension/src/components/Unlocked/Messages/Contacts.tsx
  packages/app-extension/src/components/Unlocked/Messages/MessageOptions.tsx
  packages/app-extension/src/components/Unlocked/Messages/SearchUsers.tsx
  packages/app-extension/src/components/Unlocked/Settings/index.tsx
  packages/app-mobile/src/screens/Unlocked/Settings/components/SettingsList.tsx
  packages/chat-sdk/src/components/Banner.tsx
  packages/message-sdk/src/components/Inbox.tsx
  packages/message-sdk/src/components/ProfileScreen.tsx
  packages/message-sdk/src/components/RequestsScreen.tsx
Labels: extension, mobile

#2945 zero transition on popover
  packages/app-extension/src/components/Unlocked/Settings/AvatarPopover.tsx
Labels: extension

#2951 upgrade mui packages
  packages/app-extension/package.json
  yarn.lock
Labels: extension

#2950 clean up transfer widget code
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
Labels: extension

#3012 fix approve transaction crash on locked wallet
  packages/app-extension/src/app/Router.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveMessage.tsx
  packages/app-extension/src/components/Unlocked/Approvals/ApproveTransaction.tsx
  packages/app-extension/src/components/Unlocked/ApproveTransactionRequest.tsx
Labels: extension

#3018 add skeleton style to new wallet connect drawer
  packages/app-extension/src/components/Unlocked/Settings/AddConnectWallet/index.tsx
Labels: extension

#3036 don't block UI when loading jupiter routes
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
  packages/recoil/src/atoms/solana/jupiter.tsx
  packages/recoil/src/hooks/solana/useJupiter.tsx
Labels: extension

#3040 async jupiter route loading follow-up
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
Labels: extension

#3042 add "Backpack" title to popup and tabs
  packages/app-extension/src/options.html
  packages/app-extension/src/permissions.html
  packages/app-extension/src/popup.html
Labels: extension

#3049 fix invites gql mutation
  backend/workers/invites/.eslintrc.js
  backend/workers/invites/src/index.ts
Labels: backend

#3053 Revert "async jupiter follow-up (#3040)"
  packages/app-extension/src/components/Unlocked/Balances/TransferWidget.tsx
Labels: extension

#3056 Remove twitter_user restrictions
  backend/reef/hasura/migrations/default/1677623768540_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_id_key/down.sql
  backend/reef/hasura/migrations/default/1677623768540_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_id_key/up.sql
  backend/reef/hasura/migrations/default/1677623775206_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_username_key/down.sql
  backend/reef/hasura/migrations/default/1677623775206_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_username_key/up.sql
  backend/reef/hasura/migrations/default/1677623781396_drop_index_twitter_users_twitter_id_key/down.sql
  backend/reef/hasura/migrations/default/1677623781396_drop_index_twitter_users_twitter_id_key/up.sql
  backend/reef/hasura/migrations/default/1677623781397_drop_index_twitter_users_twitter_username_key/down.sql
  backend/reef/hasura/migrations/default/1677623781397_drop_index_twitter_users_twitter_username_key/up.sql
Labels: backend

#3059 Revert "Remove twitter_user restrictions"
  backend/reef/hasura/migrations/default/1677623768540_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_id_key/down.sql
  backend/reef/hasura/migrations/default/1677623768540_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_id_key/up.sql
  backend/reef/hasura/migrations/default/1677623775206_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_username_key/down.sql
  backend/reef/hasura/migrations/default/1677623775206_alter_table_auth_twitter_users_drop_constraint_twitter_users_twitter_username_key/up.sql
  backend/reef/hasura/migrations/default/1677623781396_drop_index_twitter_users_twitter_id_key/down.sql
  backend/reef/hasura/migrations/default/1677623781396_drop_index_twitter_users_twitter_id_key/up.sql
  backend/reef/hasura/migrations/default/1677623781397_drop_index_twitter_users_twitter_username_key/down.sql
  backend/reef/hasura/migrations/default/1677623781397_drop_index_twitter_users_twitter_username_key/up.sql
Labels: backend
